<%= form_for(@config, html: {class:'form-horizontal', role:'form'}) do |f| %>
  <div class="form-group">
    <%= f.label :foodcost, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.number_field :foodcost, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :allocationcost, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.number_field :allocationcost, class: 'form-control input-sm' %></div>
  </div>
    <div class="form-group">
      <%= f.label :max_food, class: 'control-label col-sm-2' %>
      <div class='col-sm-6'><%= f.number_field :max_food, class: 'form-control input-sm' %></div>
    </div>
    <div class="form-group">
      <%= f.label :max_allocation, class: 'control-label col-sm-2' %>
      <div class='col-sm-6'><%= f.number_field :max_allocation, class: 'form-control input-sm' %></div>
    </div>
  <div class="form-group">
    <%= f.label :fooddeadline, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.datetime_select :fooddeadline, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :allocationdeadline, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.datetime_select :allocationdeadline, class: 'form-control input-sm' %></div>
  </div>
  <% if @config.errors.any? %>
      <div class="alert alert-danger no-border">
        <h3><%= pluralize(@config.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h3>
        <ul>
          <% @config.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <div id="actions">
        <%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
        <%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
      </div>
      <%= image_tag image_path('spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
    </div>
  </div>
<% end %>
