<%= form_for(@transport, html: {class:'form-horizontal', role:'form'}) do |f| %>
    <div class="well text-justify">
      <p>Este servicio es opcional</p>
      <p>
        Contaremos con servicio de transporte (vans) para traslado hacia las
        instalaciones donde se llevarán a cabo las conferencias, desde un punto de partida
        ubicado sobre periférico
        sur a un costado de la plaza comercial llamada “Centro sur” en la gasolinera
        contigua. Las corridas de los autobuses hacia las instalaciones de la
        conferencia solo serán las siguientes:</p>
        <%= render 'transports/schedule' %>
        <br>
      <p>
        Dado a que el servicio de transporte será estrictamente apegado a los horarios
        anteriores, las personas que requieran de este servicio de traslado del punto
        de partida a las instalaciones y de regreso deberán estar puntuales para las
        corridas de salida y de regreso del transporte; esto significa que <strong>los días
        sábado, domingo y lunes los que requieran el servicio de transporte no podrán
        hacer la contratación del desayuno y la cena de estos días</strong>.
      </p>
      <p>Indica el número de personas (incluyéndote) que estarán usando el servicio de autobus para
         llegar al campamento.</p>

      <p>El costo del transporte es:
      <ul>
        <li>Adultos y Niños: <strong><%= number_to_currency Rails.application.config.reg_transport_full_price %></strong> por viaje.</li>
        <li>Infantes (de 0-4 años): <strong>gratis</strong></li>
      </ul>
      </p>
    </div>

    <% dummy_class_label        = 'control-label col-xs-2 col-sm-1'
       headers_offsetclass_div  = 'col-xs-offset-2 col-sm-offset-1 '
       common_class_input       = 'col-xs-3 col-sm-2 col-md-1' %>
    <div class="viernes-text"><h4>Viernes</h4><%#-------------------------------   VIERNES ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Salida</div>
        <div class="<%= common_class_input %>">Regreso</div>
      </div>
      <div class="row">
        <div class="<%= dummy_class_label %>"></div>
        <div class="<%= common_class_input %>"><%= f.number_field :v1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :v2, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="sabado-text"><h4>Sábado</h4><%#----------------------------   SABADO ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Salida</div>
        <div class="<%= common_class_input %>">Regreso</div>
      </div>
      <div class="row">
        <div class="<%= dummy_class_label %>"></div>
        <div class="<%= common_class_input %>"><%= f.number_field :s1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :s2, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="domingo-text"><h4>Domingo</h4><%#-------------------------   DOMINGO ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Salida</div>
        <div class="<%= common_class_input %>">Regreso</div>
      </div>
      <div class="row">
        <div class="<%= dummy_class_label %>"></div>
        <div class="<%= common_class_input %>"><%= f.number_field :d1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :d2, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="lunes-text"><h4>Lunes</h4><%#-------------------------------   LUNES ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Salida</div>
        <div class="<%= common_class_input %>">Regreso</div>
      </div>
      <div class="row">
        <div class="<%= dummy_class_label %>"></div>
        <div class="<%= common_class_input %>"><%= f.number_field :l1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :l2, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><br>

  <% if @transport.errors.any? %>
      <div class="alert alert-danger no-border">
        <h3><%= pluralize(@transport.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h3>

        <ul>
          <% @transport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="form-group">
    <div class="col-xs-offset-2 col-sm-offset-1 col-xs-6 col-sm-10">
      <div id="actions">
        <%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
        <%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
      </div>
      <%= image_tag image_path('spinners/spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
    </div>
  </div>
<% end %>