<div class="row text-center">
  <div class="col-xs-6 col-sm-3">
    <h3 class="viernes-text">Viernes</h3>
    Salida: <strong><%= Rails.application.config.reg_transport_schedule['friday']['go']  %></strong><br>
    Regreso:<strong><%= Rails.application.config.reg_transport_schedule['friday']['ret'] %></strong>
  </div>
  <div class="col-xs-6 col-sm-3">
    <h3 class="sabado-text">Sábado</h3>
    Salida: <strong><%= Rails.application.config.reg_transport_schedule['saturday']['go']  %></strong><br>
    Regreso:<strong><%= Rails.application.config.reg_transport_schedule['saturday']['ret'] %></strong>
  </div>
  <div class="col-xs-6 col-sm-3">
    <h3 class="domingo-text">Domingo</h3>
    Salida: <strong><%= Rails.application.config.reg_transport_schedule['sunday']['go']  %></strong><br>
    Regreso:<strong><%= Rails.application.config.reg_transport_schedule['sunday']['ret'] %></strong>
  </div>
  <div class="col-xs-6 col-sm-3">
    <h3 class="lunes-text">Lunes</h3>
    Salida: <strong><%= Rails.application.config.reg_transport_schedule['monday']['go']  %></strong><br>
    Regreso:<strong><%= Rails.application.config.reg_transport_schedule['monday']['ret'] %></strong>
  </div>
</div>