<div class="row">
  <div class="col-sm-6">
    <h4>Autobus a la Roca</h4>
    <table class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th></th>
        <th class="text-center viernes">Viernes</th>
        <th class="text-center sabado">Sábado</th>
        <th class="text-center domingo">Domingo</th>
        <th class="text-center lunes">Lunes</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-right">
        <td>Ida</td>
        <td><%= dimzeros transport.v1 %></td>
        <td><%= dimzeros transport.s1 %></td>
        <td><%= dimzeros transport.d1 %></td>
        <td><%= dimzeros transport.l1 %></td>
      </tr>
      <tr class="text-right">
        <td>Regreso</td>
        <td><%= dimzeros transport.v2 %></td>
        <td><%= dimzeros transport.s2 %></td>
        <td><%= dimzeros transport.d2 %></td>
        <td><%= dimzeros transport.l2 %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6"></div>
</div>
<% if transport.nil? %>
    <em>No se encontró registro de Transporte</em>
<% end %>
<h5>
  <div class="row">
    <div class="col-xs-4 col-sm-2"><strong>Cantidad Total:</strong></div>
    <div class="col-xs-6"><%= transport.total_trips %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2"><strong>Costo total:</strong></div>
    <div class="col-xs-6"><%= number_to_currency transport.total_cost %></div>
  </div>
</h5>