<%
  form_grp_class = 'mb-3 row'
  label_class = 'col-sm-4 col-form-label text-sm-end'
  div_input_class = 'col-sm-6'
  input_class = 'form-control'
%>
<%= form_with model: [ :registry, guest], local: true do |form| %>
  <%= form.hidden_field :registry_id  %>

  <% if guest.me? %>
    <div class="text-center text-info">
      <h2><%= guest.me? ? fa_text(:user, t('common.me')) : g.nick %></h2>
    </div>
  <% else %>
    <div class="<%= form_grp_class %>">
      <%= form.label :relation, class: label_class %>
      <div class="<%= div_input_class %>">
        <%= form.select :relation,
                        options_for_select(Guest.relations_to_show, Guest.relations[guest.relation]),
                        {},
                        { class: 'form-control input-sm' } %>
      </div>
    </div>

    <div class="<%= form_grp_class %>">
      <%= form.label :name, class: label_class %>
      <div class="<%= div_input_class %>">
        <%= form.text_field :name, id: :user_name, class: input_class %>
      </div>
    </div>

    <div class="<%= form_grp_class %>">
      <%= form.label :lastname, class: label_class %>
      <div class="<%= div_input_class %>">
        <%= form.text_field :lastname, id: :user_lastname, class: input_class %>
      </div>
    </div>

    <div class="<%= form_grp_class %>">
      <%= form.label :nick, class: label_class %>
      <div class="<%= div_input_class %>">
        <%= form.text_field :nick, id: :user_nick, class: input_class, placeholder: 'Aparecerá en el gafete impreso' %>
      </div>
    </div>

    <div class="<%= form_grp_class %>">
      <%= form.label :age, class: label_class %>
      <div class="<%= div_input_class %>">
        <%= form.number_field :age, id: :user_age, min: 0, class: "col-4 #{input_class}" %>
      </div>
    </div>

    <div class="<%= form_grp_class %>">
      <%= form.label :is_male, class: label_class %>
      <div class="<%= div_input_class %>">
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" name="guest[is_male]" id="guest_is_male_true" value="true" autocomplete="off" <%= 'checked' if @guest.is_male %>>
          <label class="btn btn-outline-primary" for="guest_is_male_true"><%= show_sex_symbol true %> <%= t 'common.male' %></label>

          <input type="radio" class="btn-check" name="guest[is_male]" id="guest_is_male_false" value="false" autocomplete="off" <%= 'checked' if @guest.female? %>>
          <label class="btn btn-outline-primary" for="guest_is_male_false"><%= show_sex_symbol false %> <%= t 'common.female' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <% if (guest.me? && guest.female?) || !guest.me? %>
    <div class="<%= form_grp_class %>">
      <%= form.label :is_pregnant, class: label_class %>
      <div class="<%= div_input_class %>">
        <div class="d-flex align-items-center">
          <%= render 'components/checkbox', form: form, field: :is_pregnant %>
          <h4 class="text-muted ms-3 mb-0"
              tabindex="0"
              data-bs-toggle="popover"
              data-bs-placement="right"
              data-bs-trigger="hover focus"
              title="¿Embarazada?"
              data-bs-content="¿Asistirás a las conferencias embarazada y requieres condiciones y cuidados especiales?">
            <%= fa_text :question_circle, style: 'vertical-align: middle;' %>
          </h4>
        </div>
      </div>
    </div>
  <% end %>

  <div class="<%= form_grp_class %>">
    <%= form.label :is_medicated, class: label_class %>
    <div class="<%= div_input_class %>">
      <div class="d-flex align-items-center">
        <%= render 'components/checkbox', form: form, field: :is_medicated %>
        <h4 class="text-muted ms-3 mb-0"
            tabindex="0"
            data-bs-toggle="popover"
            data-bs-placement="right"
            data-bs-trigger="hover focus"
            title="¿Medicado?"
            data-bs-content="¿estás tomando algún medicamento y requieres condiciones y cuidados especiales debido a esto?">
          <%= fa_text :question_circle, style: 'vertical-align: middle;' %>
        </h4>
      </div>
    </div>
  </div>
  <%# FOOD --------------------------------------------------------------------------------------%>
  <section id="foodSection" class="pt-3 pb-3">
    <div class="text-center">
      <h2><%= fa_text :utensils %> <%= form.label :food %>
        <a class="text-info" data-bs-toggle="collapse" href="#collapseFood" role="button" aria-expanded="false" aria-controls="collapseFood">
          <%= fa_text :question_circle %>
        </a>
      </h2>
    </div>
    <div class="collapse mb-3" id="collapseFood">
      <div class="card card-body shadow-sm bg-light">
        <ul>
          <li>Costos:
            <strong>Adultos</strong>: <%= number_to_currency Event.current.food_full_price, precision: 0 %>,
            <strong>Niños</strong>: <%= number_to_currency Event.current.food_half_price, precision: 0 %>,
            <strong>Infantes</strong>: gratis.
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <%= link_to fa_text(:check_square, 'Todos'), '#', id: 'f_all', class: 'btn btn-link' %>&nbsp;|&nbsp;
        <%= link_to fa_text(:square, 'Ninguno'), '#', id: 'f_none', class: 'btn btn-link' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="<%= form_grp_class %>">
          <%= form.label 'Viernes', class: label_class + ' friday-text fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_v3 %>
          </div>
        </div>
        <div class="<%= form_grp_class %>">
          <%= form.label 'Sábado', class: label_class + ' saturday-text fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_s1 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_s2 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_s3 %>
          </div>
        </div>
        <div class="<%= form_grp_class %>">
          <%= form.label 'Domingo', class: label_class + ' sunday-text fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_d1 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_d2 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_d3 %>
          </div>
        </div>
        <div class="<%= form_grp_class %>">
          <%= form.label 'Lunes', class: label_class + ' monday-text fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :f_l1 %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# TRANSPORT  --------------------------------------------------------------------------------------%>
  <section id="transportSection" class="pb-3">
    <div class="text-center">
      <h2><%= fa_text :bus %> <%= form.label :transport %>
        <a class="text-info" data-bs-toggle="collapse" href="#collapseTransport" role="button" aria-expanded="false" aria-controls="collapseTransport">
          <%= fa_text :question_circle %>
        </a>
      </h2>
    </div>
    <div class="collapse mb-3" id="collapseTransport">
      <div class="card card-body shadow-sm bg-light">
        <ul>
          <li>Costos: <strong>Adultos</strong>: <%= number_to_currency Event.current.transport_full_price, precision: 0 %>,
            <strong>Niños</strong>: <%= number_to_currency Event.current.transport_half_price, precision: 0 %>,
            <strong>Infantes</strong>: gratis.</li>
          <li>Salida del <span class="friday-text">Viernes</span> es a la <strong>1:00pm</strong> (13:00)</li>
          <li>Salida del <span class="saturday-text">Sábado</span> es a las <strong>8:00am</strong> (08:00)</li>
          <li>Ambas salidas parten de la gasolinera de Av Patria cruce con Av Colón
            <%= link_to fa_text(:map_marker_alt, 'Mapa'), Event.current.transport_map,
                        class: 'btn btn-link m-0 p-0',
                        target: '_blank' %>
          </li>
          <li>El único regreso en <span class="monday-text">Lunes</span> será al terminar las conferencias hacia el punto de partida.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="<%= form_grp_class %>">
          <%= form.label 'Viaje', class: label_class + ' fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :t_v1 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :t_s1 %>
            <%= render 'components/checkbox', form: form, model: :guest, field: :t_l2 %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# LODGING --------------------------------------------------------------------------------------%>
  <section id="lodgingSection">
    <div class="text-center">
      <h2><%= fa_text :bed %> <%= form.label :lodging %>
        <a class="text-info" data-bs-toggle="collapse" href="#collapseLodging" role="button" aria-expanded="false" aria-controls="collapseLodging">
          <%= fa_text :question_circle %>
        </a>
      </h2>
    </div>
    <div class="collapse mb-3" id="collapseLodging">
      <div class="card card-body shadow-sm bg-light">
        <ul>
          <li>Costos:
            <strong>Adultos</strong>: <%= number_to_currency Event.current.lodging_full_price, precision: 0 %>,
            <strong>Niños</strong>: <%= number_to_currency Event.current.lodging_half_price, precision: 0 %>,
            <strong>Infantes</strong>: gratis.
          </li>
          <li>Incluye las 3 noches que dura la conferencia.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="<%= form_grp_class %>">
          <%= form.label 'Estadía', class: label_class + ' fw-bold' %>
          <div class="<%= div_input_class %> row">
            <%= render 'components/checkbox', form: form, model: :guest, field: :l_v %>
          </div>
        </div>
      </div>
    </div>
    <% if admin? %>
      <div class="row">
        <div class="col">
          <div class="<%= form_grp_class %>">
            <%= form.label 'Habitación', class: label_class + ' fw-bold' %>
            <div class="<%= div_input_class %>">
              <%= form.text_field :l_room, class: input_class + ' col-3' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </section>

  <%# ------- Submit Buttons Section ---------------------- %>
  <hr>
  <div class="<%= form_grp_class %>">
    <%= label_tag '', nil, class: label_class %>
    <div id="actions" class="col-sm-6">
      <%= form.submit 'Aceptar', data: {disable_with: t('common.waiting')}, class: 'btn btn-primary', id: 'submit_ajax' %>
      <%= link_to 'Cancelar', start_path, {class: 'btn btn-outline-secondary'} %>
    </div>
    <%= image_tag image_path('spinners/spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
  </div>
<% end %>

<script>
  $("#guest_is_male_true").change(function() {
      $("#user_is_pregnant").prop('checked', false).prop('disabled', true);
  });
  $("#guest_is_male_false").change(function () {
      $("#user_is_pregnant").prop('disabled', false);
  });
  $("#f_all").click(function() {
     $("#foodSection").find(":checkbox").prop('checked', true);
     return false;
  });
  $("#f_none").click(function () {
     $("#foodSection").find(":checkbox").prop('checked', false);
     return false;
  });
  // Fills historical guest to recreate again
  $(".guest-row").click(function(eventData) {
      id = eventData.target.id;
      data = JSON.parse($('#guest_' + id)[0].value);

      $('#guest_relation').val(data.relation);
      $('#user_name').val(data.name);
      $('#user_lastname').val(data.lastname);
      $('#user_nick').val(data.nick);
      $('#user_age').val(data.age + 1);
      if (data.is_male)
        $('#guest_is_male_true').prop('checked', true).trigger('change');
      else
        $('#guest_is_male_false').prop('checked', true).trigger('change');

      $('#row_' + id).hide(1000);

      return false;
  });
</script>
