<p id="notice"><%= notice %></p>

<p>
  <strong>Registry:</strong>
  <%= @guest.registry %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @guest.lastname %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @guest.nick %>
</p>

<p>
  <strong>Is male:</strong>
  <%= @guest.is_male %>
</p>

<p>
  <strong>Age:</strong>
  <%= @guest.age %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @guest.relation %>
</p>

<p>
  <strong>Is pregnant:</strong>
  <%= @guest.is_pregnant %>
</p>

<p>
  <strong>Is medicated:</strong>
  <%= @guest.is_medicated %>
</p>

<p>
  <strong>F v1:</strong>
  <%= @guest.f_v1 %>
</p>

<p>
  <strong>F v2:</strong>
  <%= @guest.f_v2 %>
</p>

<p>
  <strong>F v3:</strong>
  <%= @guest.f_v3 %>
</p>

<p>
  <strong>F s1:</strong>
  <%= @guest.f_s1 %>
</p>

<p>
  <strong>F s2:</strong>
  <%= @guest.f_s2 %>
</p>

<p>
  <strong>F s3:</strong>
  <%= @guest.f_s3 %>
</p>

<p>
  <strong>F d1:</strong>
  <%= @guest.f_d1 %>
</p>

<p>
  <strong>F d2:</strong>
  <%= @guest.f_d2 %>
</p>

<p>
  <strong>F d3:</strong>
  <%= @guest.f_d3 %>
</p>

<p>
  <strong>F l1:</strong>
  <%= @guest.f_l1 %>
</p>

<p>
  <strong>F l2:</strong>
  <%= @guest.f_l2 %>
</p>

<p>
  <strong>F l3:</strong>
  <%= @guest.f_l3 %>
</p>

<p>
  <strong>T v1:</strong>
  <%= @guest.t_v1 %>
</p>

<p>
  <strong>T v2:</strong>
  <%= @guest.t_v2 %>
</p>

<p>
  <strong>T s1:</strong>
  <%= @guest.t_s1 %>
</p>

<p>
  <strong>T s2:</strong>
  <%= @guest.t_s2 %>
</p>

<p>
  <strong>T d1:</strong>
  <%= @guest.t_d1 %>
</p>

<p>
  <strong>T d2:</strong>
  <%= @guest.t_d2 %>
</p>

<p>
  <strong>T l1:</strong>
  <%= @guest.t_l1 %>
</p>

<p>
  <strong>T l2:</strong>
  <%= @guest.t_l2 %>
</p>

<p>
  <strong>L v:</strong>
  <%= @guest.l_v %>
</p>

<p>
  <strong>L s:</strong>
  <%= @guest.l_s %>
</p>

<p>
  <strong>L d:</strong>
  <%= @guest.l_d %>
</p>

<p>
  <strong>L l:</strong>
  <%= @guest.l_l %>
</p>

<p>
  <strong>L room:</strong>
  <%= @guest.l_room %>
</p>
