<h1>Bienvenido a la <%= @data.event_title %></h1>
<h2><%= @data.user_name %>,</h2>
<p>
  Te has suscrito exitosamente a la conferencia <%= @data.event_title %> de
  <%= @data.author %>.
  Tu nombre de usuario es el correo con el que te registraste: (<%= @data.user_email %>).
</p>
<p>
  Te invitamos (si no lo has hecho) a completar la información de tus invitados,
  así como si requieres alimentos, hospedaje y transporte durante el evento.
</p>
<p>
  No te olvides de visitar el sitio de registro regularmente,
  ya que ahí actualizaremos las noticias importantes de la conferencia.
</p>
<p>El Cordero es Digno!</p>
