<%= form_for(@person, html: {class:'form-horizontal', role:'form'}) do |f| %>

    <br>
  <section id="personal">
    <h2>Datos Personales</h2>

    <div class="form-group"><%= f.label :name    , class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.text_field :name    , class: 'form-control input-sm' %></div></div>
    <div class="form-group"><%= f.label :lastname, class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.text_field :lastname, class: 'form-control input-sm' %></div></div>
    <div class="form-group"><%= f.label :nickname, class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.text_field :nickname, class: 'form-control input-sm', placeholder: 'Aparecerá en el gafete impreso' %></div></div>
    <div class="form-group"><%= f.label :age     , class: 'control-label col-sm-2' %><div class='col-sm-2'><%= f.number_field :age   , class: 'form-control input-sm', min: 0 %></div></div>
    <div class="form-group"><%= f.label :email   , class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.email_field :email  , class: 'form-control input-sm' %>
      <i class="fa fa-exclamation-triangle text-danger"></i> Revisa bien tu correo, es tu nombre de usuario para seguir usando este sistema. No se permite duplicar el correo para otro registro.</div></div>

    <%# Password Section ----------------------------------------------------------------------%>
    <% if @person.id.nil? %>
    <div class="form-group"><%= f.label :password, class: 'control-label col-sm-2' %><div class='col-sm-4'><%= f.password_field :password, id: 'pass1', class: 'form-control input-sm' %></div></div>
    <div class="form-group has-feedback" id="pass2grp"><%= f.label :password_confirmation, class: 'control-label col-sm-2' %>
      <div class='col-sm-4'>
        <%= f.password_field :password_confirmation, id: 'pass2', class: 'form-control input-sm' %>
        <span class="glyphicon form-control-feedback" id="pass2icon" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </div>
    <% end %>

    <div class="form-group"><%= f.label :phone  , class: 'control-label col-sm-2' %><div class='col-sm-3'><%= f.telephone_field    :phone  , class: 'form-control input-sm' %></div></div>
    <div class="form-group"><%= f.label :ismale , class: 'control-label col-sm-2' %>
      <div class='col-sm-4'>
        <div class="btn-group btn-group-md" data-toggle="buttons">
          <label class="btn btn-default <%= 'active' if @person.ismale %>"><%= f.radio_button :ismale, true  %><%= show_sex_symbol true %> Hombre</label>
          <label class="btn btn-default <%= 'active' unless @person.ismale %>"><%= f.radio_button :ismale, false %><%= show_sex_symbol false %> Mujer</label>
        </div>
        <%#div class='col-sm-2'><%= f.select             :ismale , [['Hombre', true], ['Mujer', false]], {}, { class: 'form-control input-sm'} %>
      </div>
    </div>
    <div class="form-group"><%= f.label :church , class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.autocomplete_field :church , autocomplete_church_name_people_path, data: {autocomplete_label: 'No encontré coincidencias.' }, class: 'form-control input-sm ui-autocomplete-input' %></div></div>
    <div class="form-group"><%= f.label :country, class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.autocomplete_field :country, autocomplete_country_name_people_path, data: {autocomplete_label: 'No encontré coincidencias.' }, class: 'form-control input-sm ui-autocomplete-input' %></div></div>
    <div class="form-group"><%= f.label :state  , class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.text_field         :state  , class: 'form-control input-sm ui-autocomplete-input', type: 'search', data: {autocomplete: autocomplete_state_name_people_path, autocomplete_label: 'No encontré coincidencias.'} %></div></div>
    <div class="form-group"><%= f.label :city   , class: 'control-label col-sm-2' %><div class='col-sm-6'><%= f.text_field         :city   , class: 'form-control input-sm' %></div></div>
  </section>

<%# SECTION CONFERENCE -----------------------------------------------------------------------------------------------%>
  <hr><br>
  <section id="conference">
    <h2>Conferencia</h2>
    <div class="form-group"><%= f.label :assist_v, class: 'control-label col-sm-2' %>
      <div class='col-sm-8'>¿Qué días asistirás a la conferencia?
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center viernes-text">Viernes</th>
              <th class="text-center sabado-text">Sábado</th>
              <th class="text-center domingo-text">Domingo</th>
              <th class="text-center lunes-text">Lunes</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td><%= f.check_box :assist_v, class: 'big_checkbox' %></td>
              <td><%= f.check_box :assist_s, class: 'big_checkbox' %></td>
              <td><%= f.check_box :assist_d, class: 'big_checkbox' %></td>
              <td><%= f.check_box :assist_l, class: 'big_checkbox' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :offering, class: 'control-label col-sm-2' %>
      <div class='col-sm-2'>
        <%= f.number_field :offering, placeholder: 'Opcional', min: 0,
                           class: 'form-control input-sm col-sm-3',
                           disabled: is_admin || @person.new_record? ? false : @person.isconfirmed %>
      </div>
      <div class='col-sm-6'></div>
    </div>
    <div class="form-group"><%= f.label :comments, class: 'control-label col-sm-2' %>
      <div class='col-sm-8'>
        Comentarios / Otras indicaciones (puedes dejar este espacio en blanco)
        <%= f.text_area :comments, rows: '3', class: 'form-control input-sm' %>
      </div>
    </div>
  </section>

  <% if @person.errors.any? %>
    <div class="alert alert-danger no-border">
      <h3><%= pluralize(@person.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h3>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <div id="actions">
          <%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
          <%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
        </div>
        <%= image_tag image_path('spinners/spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
      </div>
    </div>
<% end %>
<br>
<script>
  function highlight() {
    var re = new RegExp("#conference");
    var is_conf = re.test(window.location.href);
    if (is_conf) {
      var input = $('#person_offering');
      var lbl   = input.parent().siblings()[0];
      lbl.style = 'color: red;';
      input.addClass('highlight-input');

      setTimeout( function(){
            input.removeClass('highlight-input');
            lbl.style = '';
          },
          5000);
    }
  }

  $(
    $('.submit_ajax').click(function(){
        $('#spinner').show();
        $('#actions').hide();
    }),
    $('.ui-autocomplete-input').focusout( function() {
                text = $(this).val();
                if (text == 'no existing match') {
                    $(this).val('');
                }
    }),
    $('#pass2').keyup(function(){
        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();
        if (pass1 == pass2) {
            $('#pass2icon').removeClass().addClass('glyphicon form-control-feedback glyphicon-ok text-success');
        } else {
            $('#pass2icon').removeClass().addClass('glyphicon form-control-feedback glyphicon-remove text-danger');
        }
    }),
    highlight()
  );
</script>
