<h2>Personas Inscritas</h2>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headOne">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <i class="fa fa-filter"></i> Filtros
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headOne">
    <div class="panel-body">
      <%= form_tag people_path, method: 'get', class: 'form-inline' do %>
          <div class="form-group">
            <%= label_tag 'Id', nil, class: 'sr-only' %>
            <%= number_field_tag 'id', params[:id], min: 1, max: 999999, placeholder: 'Id', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Apellido', nil, class: 'sr-only' %>
            <%= text_field_tag 'lastname', params[:lastname], placeholder: 'Apellido', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Iglesia', nil, class: 'sr-only' %>
            <%= text_field_tag 'church', params[:church], placeholder: 'Iglesia', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Estado', nil, class: 'sr-only' %>
            <%= text_field_tag 'state', params[:state], placeholder: 'Estado', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Ciudad', nil, class: 'sr-only' %>
            <%= text_field_tag 'city', params[:city], placeholder: 'Ciudad', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Cobrado por: (ID)', nil, class: 'visible-xs' %>
            <%= number_field_tag 'changed_by', params[:changed_by], min: 1, max: 999999, placeholder: 'Cobrado por ID', class: 'form-control input-sm' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Es Administrador', nil, class: 'visible-xs' %>
            <%= check_box_tag 'is_admin',
                              params[:is_admin],
                              params[:is_admin],
                              class: 'form-control input-sm',
                              data: { toggle: 'tooltip',
                                      placement: 'top' },
                              title: 'Administradores' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Es Confirmado', nil, class: 'visible-xs' %>
            <%= check_box_tag 'is_confirmed',
                              params[:is_confirmed],
                              params[:is_confirmed],
                              class: 'form-control input-sm',
                              data: { toggle: 'tooltip',
                                      placement: 'top' },
                              title: 'Confirmados' %>
          </div>
          <div class="form-group">
            <%= label_tag 'NO Confirmado', nil, class: 'visible-xs' %>
            <%= check_box_tag 'is_not_confirmed',
                              params[:is_not_confirmed],
                              params[:is_not_confirmed],
                              class: 'form-control input-sm',
                              data: { toggle: 'tooltip',
                                      placement: 'top' },
                              title: 'NO Confirmados' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Es Cancelado', nil, class: 'visible-xs' %>
            <%= check_box_tag 'is_cancelled',
                              params[:is_cancelled],
                              params[:is_cancelled],
                              class: 'form-control input-sm',
                              data: { toggle: 'tooltip',
                                      placement: 'top' },
                              title: 'Cancelados' %>
          </div><br>
          <%= submit_tag 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary' %>
          <%= button_tag 'Borrar', id: 'reset', class: 'btn btn-sm btn-link' %>
      <% end %>
    </div>
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= link_to 'Id', people_path(:order => :id ) %></th>
      <th><%= link_to 'Nombre', people_path(:order => :lastname ) %></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Sexo">S</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Edad">E</span></th>
      <th>Iglesia</th>
      <th>Ciudad</th>
      <th><%= link_to 'Estado', people_path(:order => :state ) %></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Enviar Email">E</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Gafet">G</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="# Invitados">#I</span></th>
      <th class="bg-grey"><span data-toggle="tooltip" data-placement="top" title="Asistirá Viernes">V</span></th>
      <th class="bg-grey"><span data-toggle="tooltip" data-placement="top" title="Asistirá Sábado">S</span></th>
      <th class="bg-grey"><span data-toggle="tooltip" data-placement="top" title="Asistirá Domingo">D</span></th>
      <th class="bg-grey"><span data-toggle="tooltip" data-placement="top" title="Asistirá Lunes">L</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Hosp. Adultos">A</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Hosp. Niños">N</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Hosp. Infantes">I</span></th>
      <th class="viernes"><span data-toggle="tooltip" data-placement="top" title="Cena Viernes">V3</span></th>
      <th class="sabado" ><span data-toggle="tooltip" data-placement="top" title="Desayuno Sábado">S1</span></th>
      <th class="sabado" ><span data-toggle="tooltip" data-placement="top" title="Comida Sábado">S2</span></th>
      <th class="sabado" ><span data-toggle="tooltip" data-placement="top" title="Cena Sábado">S3</span></th>
      <th class="domingo"><span data-toggle="tooltip" data-placement="top" title="Desayuno Domingo">D1</span></th>
      <th class="domingo"><span data-toggle="tooltip" data-placement="top" title="Comida Domingo">D2</span></th>
      <th class="domingo"><span data-toggle="tooltip" data-placement="top" title="Cena Domingo">D3</span></th>
      <th class="lunes"  ><span data-toggle="tooltip" data-placement="top" title="Desayuno Lunes">L1</span></th>
      <th>Costo</th>
      <th>Pagado</th>
      <th><span data-toggle="tooltip" data-placement="top" title="Confirmado">C</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Asistió">A</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Cancelo">Ca</span></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |p| %>
      <tr>
        <td><%= link_to p.id,
                        person_path(p),
                        class: 'links page-scroll' %></td>
        <td><%= p.full_name %></td>
        <td><%= show_sex_symbol p.ismale %></td>
        <td><%= p.age %></td>
        <td><%= p.church %></td>
        <td><%= p.city %></td>
        <td><%= p.state %></td>
        <td><%= mail_to p.email, '<i class="fa fa-envelope-o" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to '<i class="fa fa-print" aria-hidden="true"></i>'.html_safe, gafete_path(p, format: 'pdf') %></td>
        <td><%= dimzeros p.guests.length %></td>
        <td><%= render_bool p.assist_v? %></td>
        <td><%= render_bool p.assist_s? %></td>
        <td><%= render_bool p.assist_d? %></td>
        <td><%= render_bool p.assist_l? %></td>
        <% if p.allocation.option == 0 %>
            <td colspan="3" class="text-center">-</td>
        <% elsif p.allocation.option == 2 %>
            <td colspan="3" class="text-center"><i class="fa fa-bed"></i></td>
        <% else %>
        <td><%= dimzeros p.allocation.n1 %></td>
        <td><%= dimzeros p.allocation.n2 %></td>
        <td><%= dimzeros p.allocation.n3 %></td>
        <% end %>
        <td><%= dimzeros p.food.v3 %>/<%= dimzeros p.food.v3c %></td>
        <td><%= dimzeros p.food.s1 %>/<%= dimzeros p.food.s1c %></td>
        <td><%= dimzeros p.food.s2 %>/<%= dimzeros p.food.s2c %></td>
        <td><%= dimzeros p.food.s3 %>/<%= dimzeros p.food.s3c %></td>
        <td><%= dimzeros p.food.d1 %>/<%= dimzeros p.food.d1c %></td>
        <td><%= dimzeros p.food.d2 %>/<%= dimzeros p.food.d2c %></td>
        <td><%= dimzeros p.food.d3 %>/<%= dimzeros p.food.d3c %></td>
        <td><%= dimzeros p.food.l1 %>/<%= dimzeros p.food.l1c %></td>
        <td class="text-right"><%= number_to_currency p.total %></td>
        <td class="text-right"><%= paid_format_colors p.amount_paid, p.total %></td>
        <td><%= render_bool p.isconfirmed? %></td>
        <td><%= render_bool p.ispresent? %></td>
        <td><%= render_bool_reversed p.iscancelled? %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
  <!--tfoot>
    <tr>
      <td></td>
      <td>Completo</td>
      <td></td>
      <td>< @people.count(:name) ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Costo</td>
      <td>Pagado</td>
      <td></td>
    </tr>
  </tfoot-->
</table>
</div>
  <h5>
    <div class="row">
<% if @people.size == 0 %>
      <div class="col-xs-12">La búsqueda no encontró registros.</div>
    </div>
<% else %>
      <div class="col-xs-3 text-right">Registros: </div>
      <div class="col-xs-9"><%= @people.size %></div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-right">Descargar: </div>
      <div class="col-xs-9">
        <%= link_to '<i class="fa fa-file-o"></i> csv'.html_safe,
                    people_path(format: 'csv', params: @filters),
                    class: 'btn btn-link btn-xs' %> |
        <%= link_to '<i class="fa fa-file-excel-o"></i> Excel'.html_safe,
                    people_path(format: 'xls', params: @filters),
                    class: 'btn btn-link btn-xs' %>
      </div>
    </div>
<% end %>
  </h5>

<%#nav class="text-center">
  <ul class="pagination pagination-sm">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="disabled"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav%>

<script>
  $('#reset').click(function(event){
      event.preventDefault();
      $('form .form-control').val('');
      $('form input[type="checkbox"]').prop('checked', false);
  });
</script>
<style>
    th {
        text-align: center;
    }
    .bg-grey {
        background-color: gainsboro;
    }
    input[type="number"] {
        width: 80px;
    }
    input[type="text"] {
    }
    input[type='checkbox'] {
        width: 35px !important;
        height: 35px;
    }
</style>