<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">lastname</Data></Cell>
        <Cell><Data ss:Type="String">name</Data></Cell>
        <Cell><Data ss:Type="String">is_male</Data></Cell>
        <Cell><Data ss:Type="String">city</Data></Cell>
        <Cell><Data ss:Type="String">state</Data></Cell>
        <Cell><Data ss:Type="String">church</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">phone</Data></Cell>
        <Cell><Data ss:Type="String"># guests</Data></Cell>
        <Cell><Data ss:Type="String">h_1</Data></Cell>
        <Cell><Data ss:Type="String">h_2</Data></Cell>
        <Cell><Data ss:Type="String">h_3</Data></Cell>
        <Cell><Data ss:Type="String">f_v3</Data></Cell>
        <Cell><Data ss:Type="String">f_s1</Data></Cell>
        <Cell><Data ss:Type="String">f_s2</Data></Cell>
        <Cell><Data ss:Type="String">f_s3</Data></Cell>
        <Cell><Data ss:Type="String">f_d1</Data></Cell>
        <Cell><Data ss:Type="String">f_d2</Data></Cell>
        <Cell><Data ss:Type="String">f_d3</Data></Cell>
        <Cell><Data ss:Type="String">f_l1</Data></Cell>
        <Cell><Data ss:Type="String">f_v3c</Data></Cell>
        <Cell><Data ss:Type="String">f_s1c</Data></Cell>
        <Cell><Data ss:Type="String">f_s2c</Data></Cell>
        <Cell><Data ss:Type="String">f_s3c</Data></Cell>
        <Cell><Data ss:Type="String">f_d1c</Data></Cell>
        <Cell><Data ss:Type="String">f_d2c</Data></Cell>
        <Cell><Data ss:Type="String">f_d3c</Data></Cell>
        <Cell><Data ss:Type="String">f_l1c</Data></Cell>
        <Cell><Data ss:Type="String">total</Data></Cell>
        <Cell><Data ss:Type="String">amount_paid</Data></Cell>
        <Cell><Data ss:Type="String">confirmed</Data></Cell>
      </Row>
      <% @people.each do |obj| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= obj.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.lastname %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.ismale %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.city %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.state %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.church %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= obj.phone %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.guests.length %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.allocation.n1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.allocation.n2 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.allocation.n3 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.v3 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s2 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s3 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d2 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d3 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.l1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.v3c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s1c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s2c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.s3c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d1c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d2c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.d3c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.food.l1c %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.total %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.amount_paid %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= obj.isconfirmed? %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>