<%
   def is_writable
     true
   end
   def is_me
     @person.id == session_id
   end
   def is_pending(array_msg)
     is_paid = @person.isconfirmed
     if is_paid
       array_msg.append 'Ya se completó el pago, para modificar contacta a la persona con la que hiciste el pago.'
     end
     not is_paid
   end
   def is_writable_guests
     @messages_guests = []
     is_pending = is_pending @messages_guests
     is_writable and is_pending
   end
   def is_writable_food
     is_allowed, @messages_food = should_food_active
     is_pending = is_pending @messages_food
     is_allowed and is_writable and is_pending
   end
   def is_writable_allocation
     is_allowed, @messages_allo = should_allocation_active
     is_pending = is_pending @messages_allo
     is_allowed and is_writable and is_pending
   end
   def is_writable_transport
     is_allowed, @messages_tran = should_transport_active
     is_pending = is_pending @messages_tran
     is_allowed and is_writable and is_pending
   end
%>

<section id="start">

  <% unless is_me %>
    <% name = session[:user_name] %>
     <div class='panel panel-danger'>
       <div class="panel-heading text-center">
         <span class="panel-title">
           <strong><%= name %></strong> estás viendo otro usuario.
         </span>
       </div>
       <div class="panel-body text-center">
         <%= button_tag '<i class="fa fa-credit-card"></i> Registrar Pago'.html_safe,
                        type: 'button',
                        class: 'btn btn-primary btn-sm static-popup-link',
                        data: { :toggle => 'modal', :target => '#myModal' } %>
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
           <%= render 'amount_paid' %>
         </div>
         <br>
         <br>
         <%= link_to '<i class="fa fa-key"></i> Cambiar Password'.html_safe,
                       "#{url_for root_url}#{@person.get_reset_password_route}",
                       class: 'btn btn-danger btn-sm',
                       form: {target: '_blank'} %>
       </div>
     </div>
  <% end %>

  <%# Person Data %>
  <h2 class="text-center"><i class="fa fa-user"></i>
    <%= @person.full_name false %><br>
    (<%= @person.nickname %>)
  </h2>
  <% if @person.iscancelled %>
      <div class="text-center text-danger">
        <h3>¡Tu registro está cancelado!</h3>
      </div>
  <% end %>
  <div class="row text-right">
      <%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe,
                  edit_person_path(@person),
                  class: 'btn btn-default btn-sm' if is_writable %>
  </div>
  <%#div class="row">
     <div class="col-sm-2"><strong><%= label :person, :name ></strong></div>
     <div class='col-sm-10'><%= @person.name ></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :lastname ></strong></div>
    <div class='col-sm-10'><%= @person.lastname ></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :nickname ></strong></div>
    <div class='col-sm-10'><%= @person.nickname ></div>
  </div%>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :id %></strong></div>
    <div class='col-sm-10'><strong><%= @person.id %></strong></div>
  </div>
  <%#div class="row">
    <div class="col-sm-2"><strong><%= label :person, :age ></strong></div>
    <div class='col-sm-10'><%= @person.age ></div>
  </div%>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :email %></strong></div>
    <div class='col-sm-10'><%= @person.email %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :phone %></strong></div>
    <div class='col-sm-10'><%= number_to_phone(@person.phone, area_code: true) %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :ismale %></strong></div>
    <div class='col-sm-10'><%= @person.gender %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :church %></strong></div>
    <div class='col-sm-10'><%= @person.church %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :country %></strong></div>
    <div class='col-sm-10'><%= @person.country %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :state %></strong></div>
    <div class='col-sm-10'><%= @person.state %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :city %></strong></div>
    <div class='col-sm-10'><%= @person.city %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :assist_v %></strong></div>
    <div class='col-sm-10'><%= @person.assist_tostring.html_safe %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :comments %></strong></div>
    <div class='col-sm-10'><%= simple_format @person.comments %></div>
  </div>

  <div class="well">
    <div class="media">
      <div class="media-left media-top">
        <h1 class="media-object" style="margin-top: 0;">1</h1>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Completa tu inscripción llenando las siguientes secciones:</h5>
        <%= link_to '<i class="fa fa-users"></i> Invitados'.html_safe,
                    '#guests',
                    class: 'btn btn-default btn-xs btn-disabled page-scroll' %>
        <%= link_to '<span class="glyphicon glyphicon-cutlery"></span> Comidas'.html_safe,
                    '#foods',
                    class: 'btn btn-default btn-xs btn-disabled page-scroll' %>
        <%= link_to '<i class="fa fa-suitcase"></i> Hospedaje'.html_safe,
                    '#allocation',
                    class: 'btn btn-default btn-xs btn-disabled page-scroll' %>
        <%= link_to '<i class="fa fa-bus"></i> Transporte'.html_safe,
                    '#transport',
                    class: 'btn btn-default btn-xs btn-disabled page-scroll' %>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <h1 class="media-object" style="margin-top: 0;">2</h1>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Después de completar todas las secciones continúa con estos pasos:</h5>
        <%= link_to '<i class="fa fa-credit-card"></i> Pagar'.html_safe,
                    '#payment',
                    class: 'btn btn-default btn-xs page-scroll' %>
        <%= link_to '<span class="glyphicon glyphicon-print"></span> Gafete'.html_safe,
                    gafete_path(format: 'pdf'),
                    class: 'btn btn-default btn-xs' %>
      </div>
    </div>

    <div class="media">
      <div class="media-left media-top">
        <h1 class="media-object" style="margin-top: 0;">3</h1>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Puedes consultar la ubicación del lugar en el mapa:</h5>
        <%= link_to '<span class="glyphicon glyphicon-link"></span> La Roca'.html_safe,
                    'https://www.google.com.mx/maps/place/20%C2%B030\'49.4%22N+103%C2%B025\'35.8%22W/@20.513707,-103.426596,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=es-419',
                    class: 'btn btn-default btn-xs',
                    target: '_blank' %>
      </div>
    </div>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------------%>
<section id="guests" class="custom-section">
  <h2 class="text-center"><i class="fa fa-users"></i> Invitados</h2>
  <%= render 'btn_or_error', is_writable: is_writable_guests,
                             path: new_person_guest_path(@person),
                             messages: @messages_guests,
                             type: :new %>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Sobrenombre</th>
        <th>Relación</th>
        <th width="100">Sexo</th>
        <th width="60">Edad</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @person.guests.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.nickname %></td>
          <td><%= g.relation_locale %></td>
          <td><%= show_sex_symbol g.ismale %> <%= g.gender %></td>
          <td><%= g.age %></td>
          <td><div class="btn-group">
            <%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe,
                        edit_person_guest_path(@person, g),
                        class: 'btn btn-default btn-xs' if is_writable %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span> Borrar'.html_safe,
                        person_guest_path(@person, g),
                        method: :delete,
                        data: { confirm: '¿estás seguro?' },
                        rel: 'nofollow',
                        class: 'btn btn-danger btn-xs' if (is_writable_guests or is_admin) %>
          </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if @person.guests.size == 0 %>
      <em>No se encontraron invitados</em>
  <% end %>
  <h5>
    <div class="row">
      <div class="col-xs-4 col-sm-2"><strong>Personas <small>(con el titular)</small>:</strong></div>
      <div class="col-xs-6"><%= @person.total_people %></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2"><strong>Personas adultas:</strong></div>
      <div class="col-xs-6"><%= @person.total_adults %></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2"><strong>Costo total:</strong></div>
      <div class="col-xs-6"><%= number_to_currency @person.total_people_cost %></div>
    </div>
  </h5>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------------%>
<section id="foods" class="custom-section">
  <h2 class="text-center"><span class="glyphicon glyphicon-cutlery"></span> Comidas</h2>
  <%= render 'btn_or_error', is_writable: is_writable_food,
                             path: edit_food_path(@person),
                             messages: @messages_food,
                             type: :edit %>
  <%= render @person.food, locals: { food: @person.food } %>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------------%>
<section id="allocation" class="custom-section">
  <h2 class="text-center"><i class="fa fa-suitcase"></i> Hospedaje</h2>
  <%= render 'btn_or_error', is_writable: is_writable_allocation,
                             path: edit_allocation_path(@person),
                             messages: @messages_allo,
                             type: :edit %>
    <% case @person.allocation.option
         when 0
            file = File.join(Rails.root, 'app', 'static', 'noallocation.html') %>
        <%= render file: file, layout: false %>
    <%   when 1 %>
        <%= render @person.allocation, locals: { allocation: @person.allocation } %>
    <%   when 2 %>
        <div class="well">Para ver lista de hoteles haz click en el botón editar.</div>
    <% end %>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------------%>
<section id="transport" class="custom-section">
  <h2 class="text-center"><i class="fa fa-bus"></i> Transporte</h2>
  <%= render 'btn_or_error', is_writable: is_writable_transport,
                             path: edit_transport_path(@person),
                             messages: @messages_tran,
                             type: :edit %>
  <%= render @person.transport, locals: { transport: @person.transport } %>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------------%>
<section id="payment" class="custom-section">
  <h2 class="text-center"><i class="fa fa-credit-card"></i> Pago</h2>
  <div class="well">
    <% if @person.is_paid %>
        <div class="text-center text-success">
          <h4><i class="fa fa-check-square-o"></i> Pagado, gracias.</h4>
        </div>
    <% else %>
        <div class="text-center">
          <p class="lead"><i class="fa fa-exclamation-triangle text-danger"></i> ¡Atención!<br>
          No está asegurado tu lugar, comida, hospedaje, ni transporte hasta no
            haber efectuado el pago total de tu registro.
          </p>
        </div>
        <p>
          Para pagar puedes acudir a la persona encargada mas cercana de los que se listan a continuación, ten a la mano
          tu número de identificación para proporcionárselo:
        </p>
        <h4 class="text-center">Núm. Identificación: <mark><%= @person.id %></mark></h4>
        <% paypeople = Rails.application.config.reg_paycollectors
           require 'ostruct'

           paypeople.each_with_index do |person, index|
           p = OpenStruct.new person
           put_new_div_row = (index % 4 == 0)
           close_div_row = ((index % 4 == 3) or (index == paypeople.length - 1))
        %>
        <% if put_new_div_row %>
        <div class="row">
        <% end %>
          <div class="col-xs-3">
              <address>
                <strong><%= p.name %></strong><br>
                <%= link_to '<i class="fa fa-phone"></i> '.html_safe + number_to_phone(p.phone, area_code: true),
                            'tel:' + p.phone %><br>
                <%= mail_to p.email,
                            '<i class="fa fa-envelope"></i> Email'.html_safe  %><br>
                <%= p.church %><br>
                <%= p.location %>
              </address>
          </div>
        <% if close_div_row %>
        </div>
        <% end %>
        <% end %>
    <% end %>
    <p class="text-justify">
      <strong class="text-danger">Cancelaciones</strong>: Una vez realizado el pago correspondiente de su registro; en caso
      de querer realizar una cancelación, le informamos que dada a la magnitud del
      evento y la contratación de sus servicios, ya no será posible la devolución de
      su dinero, quedando este como ofrenda para la conferencia.
    </p>
  </div>
  <h5>
    <div class="row">
      <div class="col-xs-4 col-sm-2"><strong>Gran Total:</strong></div>
      <div class="col-xs-6"><%= number_to_currency @person.total %></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2"><strong>Cantidad Pagada:</strong></div>
      <div class="col-xs-6"><%= paid_format_colors @person.amount_paid, @person.total %></div>
    </div>
  </h5>

  <br>
  <div class='panel panel-info'>
    <div class="panel-heading text-center">
         <span class="panel-title">
           <mark>¡Importante!</mark> Debes presentarte con tu gafete y el de tus invitados impreso
                 en el día del evento.
         </span>
    </div>
    <div class="panel-body text-center">
      <%= link_to '<span class="glyphicon glyphicon-print"></span> Gafete'.html_safe,
                  gafete_path(format: 'pdf'),
                  class: 'btn btn-primary btn-md' %>
    </div>
  </div>

  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>