<%
   def is_writable
     true
   end
   def is_me
     @person.id == session_id
   end
   def is_pending(array_msg)
     is_paid = @person.isconfirmed
     if is_paid
       array_msg.append 'Ya se completó el pago, para modificar contacta a la persona con la que hiciste el pago.'
     end
     not is_paid
   end
   def is_writable_guests
     @messages_guests = []
     is_pending = is_pending @messages_guests
     is_writable and is_pending
   end
   def is_writable_food
     is_allowed, @messages_food = should_food_active
     is_pending = is_pending @messages_food
     is_allowed and is_writable and is_pending
   end
   def is_writable_allocation
     is_allowed, @messages_allo = should_allocation_active
     is_pending = is_pending @messages_allo
     is_allowed and is_writable and is_pending
   end
   def is_writable_transport
     is_allowed, @messages_tran = should_transport_active
     is_pending = is_pending @messages_tran
     is_allowed and is_writable and is_pending
   end
   def is_writable_offerings
     @messages_offer = []
     is_pending = is_pending @messages_offer
     is_writable and is_pending
   end
   def btn_class
     color = is_me ? 'btn-default' : 'btn-danger'
     "btn #{color} btn-md"
   end
%>

<section id="start">

  <% unless is_me %>
    <% name = session[:user_name] %>
     <div class='panel panel-danger'>
       <div class="panel-heading text-center">
         <span class="panel-title">
           <strong><%= name %></strong> estás viendo otro usuario.
         </span>
       </div>
       <div class="panel-body text-center">


           <table class="table-condensed">
             <caption class="text-center">Estado Hospedaje</caption>
             <tr>
               <th></th>
               <th>Disponible</th>
               <th>Solicitado</th>
               <th>Estado</th>
             </tr>
            <tr class="text-right">
              <td>Mujeres</td>
              <td><%= @female_row[:available] %></td>
              <td><%= @female_row[:requested] %></td>
              <td><%= render_bool (@female_row[:available] - @female_row[:requested]) >= 0 %></td>
            </tr>
             <tr class="text-right">
               <td>Hombres</td>
               <td><%= @male_row[:available] %></td>
               <td><%= @male_row[:requested] %></td>
               <td><%= render_bool (@male_row[:available] - @male_row[:requested]) >= 0 %></td>
             </tr>
           </table>

         <%= button_tag '<i class="fa fa-credit-card"></i> Registrar Pago'.html_safe,
                        type: 'button',
                        class: 'btn btn-primary btn-sm static-popup-link',
                        data: { :toggle => 'modal', :target => '#myModal' } %>
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
           <%= render 'amount_paid' %>
         </div>
         <br>
         <br>
         <%= link_to '<i class="fa fa-key"></i> Cambiar Password'.html_safe,
                       "#{url_for root_url}#{@person.get_reset_password_route}",
                       class: 'btn btn-danger btn-sm',
                       form: {target: '_blank'} %>
       </div>
     </div>
  <% end %>

  <%# Person Data %>
  <h2 class="text-center"><i class="fa fa-user"></i>
    <%= @person.full_name false %><br>
    (<%= @person.nickname %>)
  </h2>
  <% if @person.iscancelled %>
      <div class="text-center text-danger">
        <h3>¡Tu registro está cancelado!</h3>
      </div>
  <% end %>
  <div class="row text-center extra-space-bottom">
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Editar'.html_safe,
                  edit_person_path(@person),
                  class: btn_class if is_writable %>
  </div>
  <%#div class="row">
     <div class="col-sm-2"><strong><%= label :person, :name ></strong></div>
     <div class='col-sm-10'><%= @person.name ></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :lastname ></strong></div>
    <div class='col-sm-10'><%= @person.lastname ></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong><%= label :person, :nickname ></strong></div>
    <div class='col-sm-10'><%= @person.nickname ></div>
  </div%>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :id %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><strong><%= @person.id %></strong></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :age %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.age %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :email %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.email %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :phone %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= number_to_phone(@person.phone, area_code: true) %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :ismale %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.gender %> <%= show_sex_symbol @person.ismale %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :church %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.church %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :country %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.country %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :state %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.state %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :city %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.city %></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :assist_v %>:</strong></div>
    <div class='col-xs-8 col-sm-10'><%= @person.assist_tostring.html_safe %></div>
  </div>
  <% if @person.comments != '' %>
    <div class="row">
      <div class="col-xs-4 col-sm-2 text-right"><strong><%= label :person, :comments %>:</strong></div>
      <div class='col-xs-8 col-sm-10'><%= simple_format @person.comments %></div>
    </div>
  <% end %>
  <br>

  <div class="well">
    <div class="media">
      <div class="media-left media-top">
        <h1 class="media-object media-object-top">1</h1>
      </div>
      <div class="media-body">
        <h5 class="media-heading" >Completa tu inscripción llenando las siguientes secciones:</h5>
        <div class="btn-group btn-group-sm">
          <%= link_to '<i class="fa fa-users"></i> Invitados'.html_safe,
                      '#guests',
                      class: 'btn btn-default page-scroll' %>
          &nbsp;
          <%= link_to '<i class="fa fa-cutlery"></i></span> Comidas'.html_safe,
                      '#foods',
                      class: 'btn btn-default page-scroll' %>
          &nbsp;
          <%= link_to '<i class="fa fa-suitcase"></i> Hospedaje'.html_safe,
                      '#allocation',
                      class: 'btn btn-default page-scroll' %>
          &nbsp;
          <%= link_to '<i class="fa fa-bus"></i> Transporte'.html_safe,
                      '#transport',
                      class: 'btn btn-default page-scroll' %>
          <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ofrenda'.html_safe,
                      '#offering',
                      class: 'btn btn-default page-scroll' %>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <h1 class="media-object media-object-top">2</h1>
      </div>
      <div class="media-body">
        <h5 class="media-heading">
          Después continúa con estos pasos:
        </h5>
        <div class="btn-group btn-group-sm">
          <%= link_to '<i class="fa fa-credit-card"></i> Pagar'.html_safe,
                      '#payment',
                      class: 'btn btn-default page-scroll' %>
          &nbsp;
          <%= link_to '<i class="fa fa-print"></i></span> Gafete'.html_safe,
                      gafete_path(format: 'pdf'),
                      class: 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>
  </div>
</section>

<hr><%# -------------------------------------------------------------------------------------- Invitados -----%>
<section id="guests" class="custom-section">
  <h2 class="text-center"><i class="fa fa-users"></i> Invitados</h2>
  <%= render 'btn_or_error', is_writable: is_writable_guests,
                             path: new_person_guest_path(@person),
                             messages: @messages_guests,
                             type: :new,
                             btn_class: btn_class %>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Sobrenombre</th>
        <th>Relación</th>
        <th width="100">Sexo</th>
        <th width="60">Edad</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @person.guests.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.nickname %></td>
          <td><%= g.relation_locale %></td>
          <td><%= show_sex_symbol g.ismale %> <%= g.gender %></td>
          <td><%= g.age %></td>
          <td><div class="btn-group">
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Editar'.html_safe,
                        edit_person_guest_path(@person, g),
                        class: 'btn btn-default btn-xs' if is_writable %>
            <%= link_to '<i class="fa fa-times" aria-hidden="true"></i> Borrar'.html_safe,
                        person_guest_path(@person, g),
                        method: :delete,
                        data: { confirm: '¿estás seguro?' },
                        rel: 'nofollow',
                        class: 'btn btn-danger btn-xs' if (is_writable_guests or is_admin) %>
          </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if @person.guests.size == 0 %>
        <div class="text-center"><em>sin invitados</em></div>
    <% end %>
  </div>
  <h5>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Personas <small>(con el titular)</small>:</strong></div>
      <div class="col-xs-6 col-sm-9 col-md-10"><%= @person.total_people %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Personas adultas:</strong></div>
      <div class="col-xs-6 col-sm-9 col-md-10"><%= @person.total_adults %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Costo total:</strong></div>
      <div class="col-xs-6 col-sm-9 col-md-10"><%= number_to_currency @person.total_people_cost %></div>
    </div>
  </h5>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# --------------------------------------------------------------------------------------- Comidas ----%>
<section id="foods" class="custom-section">
  <h2 class="text-center"><i class="fa fa-cutlery"></i></span> Comidas</h2>
  <%= render 'btn_or_error', is_writable: is_writable_food,
                             path: edit_food_path(@person),
                             messages: @messages_food,
                             type: :edit %>
  <%= render @person.food, locals: { food: @person.food } %>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# --------------------------------------------------------------------------------------- Hospedaje ---%>
<section id="allocation" class="custom-section">
  <h2 class="text-center"><i class="fa fa-suitcase"></i> Hospedaje</h2>
  <%= render 'btn_or_error', is_writable: is_writable_allocation,
                             path: edit_allocation_path(@person),
                             messages: @messages_allo,
                             type: :edit %>
    <% case @person.allocation.option
         when 0
            file = File.join(Rails.root, 'app', 'static', 'noallocation.html') %>
        <%= render file: file, layout: false %>
    <%   when 1 %>
        <%= render @person.allocation, locals: { allocation: @person.allocation } %>
    <%   when 2 %>
        <div class="well">
          <strong>Seleccionaste Hotel</strong><br>
          Puedes revisar la lista de hoteles <%= link_to 'aquí',
                                                       show_all_hotels_path,
                                                       target: '_blank' %>.
        </div>
    <% end %>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# ------------------------------------------------------------------------------------ Transporte -------%>
<section id="transport" class="custom-section">
  <h2 class="text-center"><i class="fa fa-bus"></i> Transporte</h2>
  <%= render 'btn_or_error', is_writable: is_writable_transport,
                             path: edit_transport_path(@person),
                             messages: @messages_tran,
                             type: :edit %>

  <%= render @person.transport, locals: { transport: @person.transport } %>
  <br>
  <h4>Horarios:</h4>
  <%= render 'transports/schedule' %>
  <br>
  <br>
  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# ------------------------------------------------------------------------------------ Ofrenda -------%>
<section id="offering" class="custom-section">
  <h2 class="text-center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ofrenda</h2>
  <%= render 'btn_or_error', is_writable: is_writable_offerings,
             path: "#{edit_person_path(@person)}#conference",
             messages: @messages_offer,
             type: :edit %>

  <p class="text-justify">El monto recaudado sería utilizado para apoyar a hermanos que no pueden cubrir sus gastos
    de transporte, hospedaje y alimentación así como otros gastos derivados de la conferencia.
    <strong>Esta aportación es completamente opcional.</strong></p>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-5 col-sm-2 text-center well">
    <% if (not @person.offering.nil?) and (@person.offering > 0) %>
      <h4><strong><%= number_to_currency @person.offering, precision: 0 %></strong></h4>
    <% else %>
      <h4>Sin Ofrenda</h4>
    <% end %>
    </div>
  </div>

  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>

<hr><%# ----------------------------------------------------------------------------------------- Pago --%>
<section id="payment" class="custom-section">
  <h2 class="text-center"><i class="fa fa-credit-card"></i> Pago</h2>
  <div class="well">
    <% if @person.is_paid %>
        <div class="text-center text-success">
          <h4><i class="fa fa-check-square-o"></i> Pagado, gracias.</h4>
        </div>
    <% else %>
        <div class="text-center">
          <p class="lead"><i class="fa fa-exclamation-triangle text-danger"></i> ¡Atención!<br>
          No está asegurado tu lugar, comida, hospedaje, ni transporte hasta no
            haber efectuado el pago total de tu registro.
          </p>
        </div>
        <p class="text-justify">
          Para pagar puedes acudir a la persona encargada mas cercana de los que se listan a continuación, ten a la mano
          tu número de identificación para proporcionárselo:
        </p>
        <h4 class="text-center">Núm. Identificación: <mark><%= @person.id %></mark></h4>
        <% paypeople = Rails.application.config.reg_paycollectors
           require 'ostruct'

           paypeople.each_with_index do |person, index|
           p = OpenStruct.new person
           put_new_div_row = (index % 4 == 0)
           close_div_row = ((index % 4 == 3) or (index == paypeople.length - 1))
        %>
        <% if put_new_div_row %>
        <div class="row">
        <% end %>
          <div class="col-xs-6 col-sm-3">
              <address>
                <strong class="lead"><%= p.name %></strong><br>
                <%= link_to '<i class="fa fa-phone"></i> '.html_safe + number_to_phone(p.phone, area_code: true),
                            'tel:' + p.phone %> <%= p.phone_suffix %><br>
                <% if defined? p.phone2 %>
                    <%= link_to '<i class="fa fa-phone"></i> '.html_safe + number_to_phone(p.phone2, area_code: true),
                                'tel:' + p.phone2 %> <%= p.phone2_suffix %><br>
                <% end %>
                <%= mail_to p.email,
                            '<i class="fa fa-envelope"></i> Email'.html_safe,
                            subject: 'Pago de conferencia' %><br>
                <%= p.church %><br>
                <strong><%= p.location %></strong>
              </address>
          </div>
        <% if close_div_row %>
        </div>
        <% end %>
        <% end %>
    <% end %>
    <p class="text-justify">
      <strong class="text-danger">Cancelaciones</strong>: Una vez realizado el pago correspondiente de su registro; en caso
      de querer realizar una cancelación, le informamos que dada a la magnitud del
      evento y la contratación de sus servicios, ya no será posible la devolución de
      su dinero, quedando este como ofrenda para la conferencia.
    </p>
  </div>
  <h5>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Gran Total:</strong></div>
      <div class="col-xs-6 col-sm-9 col-md-10"><%= number_to_currency @person.total %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Cantidad Pagada:</strong></div>
      <div class="col-xs-6 col-sm-9 col-md-10"><%= paid_format_colors @person.amount_paid, @person.total %></div>
    </div>
  </h5>

  <br>
  <div class='panel panel-info'>
    <div class="panel-heading text-center">
         <span class="panel-title">
           <mark>¡Importante!</mark> Debes presentarte con tu gafete y el de tus invitados impreso
                 en el día del evento.
         </span>
    </div>
    <div class="panel-body text-center">
      <%= link_to '<i class="fa fa-print" aria-hidden="true"></i> Gafete'.html_safe,
                  gafete_path(format: 'pdf'),
                  class: 'btn btn-primary btn-md' %>

      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object media-object-top">*</h1>
        </div>
        <div class="media-body text-left">
          <h5 class="media-heading">Debes revisar periodicamente el clima del lugar,
            para preveer el tipo de ropa que debes llevar.
          <%= link_to 'Puedes visualizarlo aquí', Rails.application.config.reg_weather_url, target: '_blank' %>
          </h5>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object media-object-top">*</h1>
        </div>
        <div class="media-body text-left">
          <h5 class="media-heading">
            <%= link_to '<i class="fa fa-file-pdf-o"></i> Recomendaciones para el campamento'.html_safe,
                        '/documents/recomendacion_hospedaje.pdf',
                        target: '_blank' %>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-right">
    <%= link_to 'ir al inicio',
                '#start',
                class: 'links page-scroll' %>
  </div>
</section>