<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2"><strong><%= label :church, :name %>:</strong></div>
  <div class='col-sm-10'><%= @church.name %></div>
</div>

<%= link_to 'Edit', edit_church_path(@church), { class: 'btn btn-xs btn-default' } %> |
<%= link_to 'Back', churches_path, { class: 'btn btn-xs btn-default' } %>
