%h2 States
.row
  .col-sm-10
  .col-sm-2
    %a.btn.btn-xs.btn-primary{ 'aria-label': 'Left Align', href: "#{ url_for new_state_path}" }
      %i.fa.fa-plus{ 'aria-hidden': 'true' }
      Nuevo

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= label :state, :key
      %th= label :state, :name
      %th= label :state, :short
      %th
  %tbody
    - @states.each do |state|
      %tr
        %td= state.key
        %td= state.name
        %td= state.short
        %td.btn-group
          %a.btn.btn-default.btn-xs{ href: "#{ url_for state }" }
            %i.fa.fa-eye{ 'aria-hidden': 'true' }
            Mostrar
          %a.btn.btn-default.btn-xs{ href: "#{ url_for edit_state_path(state) }" }
            %i.fa.fa-pencil{ 'aria-hidden': 'true' }
            Editar
          %a.btn.btn-danger.btn-xs{ href: "#{ url_for state  }", 'data-method': 'delete', 'data-confirm': '¿Estás seguro?' }
            %i.fa.fa-times{ 'aria-hidden': 'true' }
            Borrar

- if @states.size == 0
  %em No se encontraron registros

%br/
