-# frozen_string_literal: true
- content_for :title do
  = t '.title'

%h2.text-center
  = t '.title'
= form_tag access_attempt_login_path, method: :post do
  .row
    .col
    .col-sm-6.col-lg-4
      = label :user, :email, class: 'visually-hidden'
      .input-group.mb-3
        .input-group-text
          = fa_text :envelope
        = email_field_tag :email, params[:email], placeholder: t('.user'), class: 'form-control', autofocus: true, required: true
      .input-group.mb-3
        .input-group-text
          = fa_text :key
        = password_field_tag :password, nil, class: 'form-control', placeholder: t('.password'), required: true
    .col
  .row.align-items-center
    .col
    .col-sm-6.col-lg-4
      = link_to t('.recover'), reset_request_path, class: 'btn btn-link'
      = submit_tag t('common.accept'), data: { disable_with: t('common.waiting') }, class: 'btn btn-sm btn-primary w-100'
    .col
