<%
  conf = {
      name: Rails.application.config.reg_event_name,
      event_title: Rails.application.config.reg_event_title,
      event_subtit: Rails.application.config.reg_event_subtitle,
      event_dates: Rails.application.config.reg_event_dates,
      main_phone_sched: Rails.application.config.reg_main_phone_sched,
      main_phone: Rails.application.config.reg_main_phone,
      main_email: Rails.application.config.reg_main_email,
      death_show: Rails.application.config.reg_registration_deadline_show,
      death_line: Rails.application.config.reg_registration_deadline,
      event_full: Rails.application.config.reg_event_full_price,
      adult_age: Rails.application.config.reg_adult_age,
      food_full: Rails.application.config.reg_food_full_price,
      food_half: Rails.application.config.reg_food_half_price,
      allo_full: Rails.application.config.reg_allocation_full_price ,
      allo_half: Rails.application.config.reg_allocation_half_price,
      tran_full: Rails.application.config.reg_transport_full_price,
      maps_link: Rails.application.config.reg_location_mapslnk
  }
  c = OpenStruct.new conf
%>

<% content_for :top do %>

<div class="jumbotron jumbotron_bg">
  <div class="container text-center text-shadow jumbotron_text">
    <h1><%= c.name %></h1>
    <h2><%= c.event_title %></h2>
    <h3><%= c.event_subtit %></h3>
    <br><h3><%= c.event_dates %></h3>
  </div>
</div>
<% end %>
<%# ---------------------------------------------------------------------------------------%>

<% if @is_event_ended %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>¡Gracias!</h2>
        <p>
          <h5>
          La <%= c.name %> ha concluido, te invitamos a seguir
          nuestro ministerio para consultar nuevo material.
          </h5>
        </p>
        <br>
          <a href="http://www.cristianismobiblico.com/">
            <%= image_tag 'email_logo.jpg' %>
          </a>
      </div>
    </div>
<% else %>

<% if c.death_show
     if c.death_line > Time.now %>
<script>
  $(function() {
    <%# 'December 31 2015 00:00:50 UTC+0200' %>
    var deadline = '<%= c.death_line.to_formatted_s(:iso8601) %>';
    initializeClock('clockdiv', deadline);
  });
</script>

<div class="row text-center">
  <h2>
    ¡Próximo cierre de inscripciones!
  </h2>
  <div id="clockdiv">
    <div>
      <span class="days"></span>
      <div class="smalltext">Días</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Horas</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutos</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Segundos</div>
    </div>
  </div>
</div>
    <% else %>
        <div class="row text-center">
            <h2>
              ¡Inscripciones cerradas, gracias!
            </h2>
        </div>
    <% end %>
<% end %>

<%# ------------------------------------------- INFO /-------------------------------------- %>
<div class="row">
  <div class="col-md-12">
    <div class='panel panel-info'>
      <div class="panel-heading text-center">
         <span class="panel-title">
           <strong>¡Bienvenido!</strong>
         </span>
      </div>
      <div class="panel-body">
        <p class="text-justify">
          Bienvenidos al registro general de la <%= c.name %>.
          Le informamos que se ha mejorado el sistema de
          registro con el fin de que sea más cómodo, ágil y sencillo. Dentro de las mejoras
          encontrará los siguientes pasos a seguir para realizar su registro:</p>
        <div class="media">
          <div class="media-left">
            <h1 class="media-object media-object-top">1</h1>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Crear Cuenta</h4>
            <p class="text-justify">
            Crear su cuenta Personal en el Sistema.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <h1 class="media-object media-object-top">2</h1>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Completar Detalles</h4>
            <p class="text-justify">
            Continuar con el registro de sus acompañantes y servicios adicionales.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <h1 class="media-object media-object-top">3</h1>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Pago</h4>
            <p class="text-justify">
            Contactar y efectuar su pago con el coordinador que se te facilite.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <h1 class="media-object media-object-top">4</h1>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Imprimir Gafete</h4>
            <p class="text-justify">
              Imprimir su gafete y de sus acompañantes y tenerlo listo para traerlo
              a las conferencias (no es necesario que lo plastilices, pero protégelo de arrugas).</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%# -------------- information RENDER ------------ %>
<div class="row special">
  <h2 class="text-center">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Información general</h2>

  <div class="col-md-4 text-justify">
    <h3>Inscripciones</h3>
    <span class="text-warning"><strong>¡Cupo Limitado!</strong></span><br>
    <p>
      La inscripción tendrá un costo de <strong><%= number_to_currency c.event_full %> pesos (MX)</strong>
      para personas de <%= c.adult_age %> años en adelante.<br>
      Adicionalmente habrá una caja para ofrendas totalmente <strong>voluntarias</strong>.
    </p>
    <p>
    El ingreso recabado por inscripciones se aplicará en su totalidad para cubrir los gastos de la conferencia
      así como los viáticos de los conferencistas, Cristianismo Bíblico no persigue ningún fin de lucro.
    </p>
    <p>
      Si tienes alguna dificultad de fuerza mayor para cubrir tu inscripcion por favor coméntalo con el encargado
      de pagos mas cercano.
    </p>
    <br>
    <h3>Ubicación</h3>
    <address>
      <strong>Campamento la Roca.</strong><br>
      Camino a La Roca #1400<br>
      CP 45600, San Sebastián el Grande, Jal.<br>
    </address>
    <p class="text-justify">
       (a 20-30 minutos de la plaza "Centro Sur" en el Periférico Sur)</p>
    <h5 class="text-center">
      <%= link_to '<i class="fa fa-link"></i> Google Maps'.html_safe,
                  c.maps_link,
                  target: '_blank' %>
    </h5>
  </div>

  <div class="col-md-4">
    <h3>Comidas</h3>
    <span class="text-warning"><strong>¡Cupo Limitado!</strong></span><br>
    <p class="text-justify">
      <strong>En el campamento.</strong> Se servirán desayuno, comida, y cena. Estos alimentos serán comidas
      completas, variadas y preparados en el momento.</p>
    <p>Los costos de las comidas son:</p>
      <ul>
        <li>Adultos (de <%= c.adult_age %> años en adelante): <%= number_to_currency c.food_full %> pesos (MX) por comida.</li>
        <li>Niños (de 5-10 años): <%= number_to_currency c.food_half %> pesos por comida.</li>
        <li>Infantes (de 0-4 años): gratis.</li>
      </ul>
    <p class="text-justify">Además, habrá una tiendita en el campamento para comprar botanas, nieves y refrescos.
      Café gratuito será servido periódicamente durante la conferencia.</p>
    <p>
      El servicio y el costo de los alimentos lo ofrece directamente el campamento "La Roca",
      Cristianismo Bíblico solo es intermediario para que usted reciba este servicio, y lo hace sin fines de lucro.
    </p>
  </div>

  <div class="col-md-4 text-justify">
    <h3>Hospedaje</h3>
    <span class="text-warning"><strong>¡Cupo Limitado!</strong></span><br>
    <p>
      <strong>En el campamento.</strong>
        <p>
      Los costos de los dormitorios son:
        </p>
      <ul>
        <li>Adultos (de <%= c.adult_age %> años en adelante): <%= number_to_currency c.allo_full %> pesos (MX) por persona</li>
        <li>Niños (de 5-10 años): <%= number_to_currency c.allo_half %> pesos por persona.</li>
        <li>Infantes (de 0-4 años): gratis.</li>
      </ul>
    <p>Este precio por persona cubre las noches del viernes, sábado, y domingo (<strong>3 noches</strong>).
      Es decir, este es el precio total por persona que cubre todas las noches de la conferencia.
    </p>
    <p>
    Es necesario traer su propia ropa de cama (sleeping bags, cobijas, almohadas, etc.).
    </p>
    <p>El servicio y el costo del hospedaje lo ofrece directamente el campamento "La Roca", Cristianismo Bíblico solo es
      intermediario para que usted reciba este servicio, y lo hace sin fines de lucro.
    </p>
    <p>
      <strong>En Hotel.</strong></p>
    <p>
      Se tiene convenio con ciertos hoteles estratégicos, puedes consultarlos a continuación y pedir
      que se aplique el código de descuento.</p>
        <h5 class="text-center">
           <%= link_to '<i class="fa fa-file-pdf-o"></i> Mapa de hoteles (PDF)'.html_safe,
                       'documents/2hoteles_conf.pdf',
                       target: '_blank'%>
        </h5>
        <h5 class="text-center">
          <%= link_to '<i class="fa fa-link"></i> Lista de hoteles (WEB)'.html_safe,
                      controller: :hotels,
                      action: :show_all %>
        </h5>
  </div>
</div>

<div class="row special">
  <div class="col-md-4">
    <h3>Libros a la venta</h3>
    <p class="text-justify">
      Serán títulos de sana doctrina, recomendados por el hermano Josef Urban.
      No habrá terminal bancaria en el lugar, prevee llevar efectivo para poder adquirirlos.
    </p>
    <h5 class="text-center">
      <%= link_to '<i class="fa fa-file-pdf-o"></i> Libros disponibles'.html_safe,
                  'documents/libros.pdf',
                  target: '_blank'%>
    </h5>
  </div>
  <div class="col-md-4">
    <h3>Transportación Local</h3>
    <p class="text-justify">
      Habrá un servicio especial de transporte que saldrá del centro comercial Centro Sur
      con destino al campamento la Roca.</p>
    <h5 class="text-center">
    <%= link_to '<i class="fa fa-file-pdf-o"></i> Mapa para llegar al lugar (PDF)'.html_safe,
                'documents/1mapa_rutas_conf.pdf',
                target: '_blank' %>
    </h5>
  </div>
  <div class="col-md-4">
    <h3>Informes</h3>
    <p>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <%= link_to number_to_phone(c.main_phone,
                                  area_code: true),
                  'tel:' + c.main_phone %> (Celular)<br>
      &nbsp; &nbsp; Horarios: <%= c.main_phone_sched %><br>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <%= mail_to c.main_email,
                  'Registro Cristianismo Biblico',
                  subject: 'Informes de Conferencias',
                  encode: 'hex' %>
    </p>
  </div>
</div>

<%# -------------- SCHEDULE RENDER ------------ %>
<%= render 'welcome/schedule' if Rails.application.config.reg_schedule_show %><br>

<%# -------------- REG BUTTON RENDER ------------ %>
<p class="text-center">
<%
  def is_registable
    is_allowed, @messages_reg = should_registration_active
    is_allowed
  end

  unless is_session_active
%>
  <% if is_registable %>
      <%= link_to 'Inscribirse &raquo;'.html_safe,
                  new_person_path,
                  class: 'btn btn-default btn-lg' %>
  <% else %>
        <div class="panel panel-danger text-center">
          <div class="panel-heading"><strong>Inscripciones Cerradas</strong></div>
            <div class="panel-body"><%= @messages_reg[0] %></div>
        </div>
  <% end %>
<% end %>
</p>
<% end %>
<%# hidden_field_tag 'srv_time', Time.now
<script>
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.jumbotron_bg').css('height', (jumboHeight-scrolled) + 'px');
  }

  $(window).scroll(function(e){
    parallax();
  });
</script>%>