<% content_for :title do %>Restablecer<% end %>
<div class="container" style="width: 300px">
  <h2 class="text-center">Restablecer</h2><br>
  <h4 class="text-center text-primary"><strong><%= @email %></strong></h4>

  <form class="form" action="/reset" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :mail, @email %>

    <div class="form-group">
      <%= password_field_tag :password, nil, id: 'pass1', class: 'form-control input-sm col-sm-4', placeholder: 'Contraseña', required: true, disabled: !@is_valid %>
    </div>
    <div class="form-group has-feedback" style="margin-top: -15px;">
      <%= password_field_tag :password_confirmation, nil, id: 'pass2', class: 'form-control input-sm col-sm-4', placeholder: 'Confirmar Contraseña', required: true, disabled: !@is_valid %>
      <span class="glyphicon form-control-feedback" id="pass2icon" aria-hidden="true"></span>
      <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>
    <div class="form-group">
      <div class="col-md-offset-6 col-md-6">
        <%= submit_tag 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary btn-block', disabled: true %>
      </div>
    </div>
  </form>

</div> <!-- /container -->
<script>
    $('#pass2').keyup(function(){
        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();
        if (pass1 == pass2) {
            $('#pass2icon').removeClass().addClass('glyphicon form-control-feedback glyphicon-ok text-success');
            $('input:submit').prop('disabled', false)
        } else {
            $('#pass2icon').removeClass().addClass('glyphicon form-control-feedback glyphicon-remove text-danger');
            $('input:submit').prop('disabled', true)
        }
    });
</script>