<% content_for :title do %>Restablecer<% end %>

<div class="container" style="width: 320px">

  <h2 class="text-center">Restablecer</h2>
  <h4 class="text-center text-primary"><%= @email %></h4>

  <form class="form" action="/reset" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :mail, @email %>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
      <%= password_field_tag :password, nil, id: 'pass1', class: 'form-control col-sm-4', placeholder: 'Nueva Contraseña', required: true, disabled: !@is_valid %>
    </div>
    <div class="input-group has-feedback">
      <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
      <%= password_field_tag :password_confirmation, nil, id: 'pass2', class: 'form-control col-sm-4', placeholder: 'Confirmar', required: true, disabled: !@is_valid %>
      <span class="glyphicon form-control-feedback" id="pass2icon" aria-hidden="true"></span>
      <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>
    <br>
    <div class="form-group">
      <div class="col-md-offset-6 col-md-6">
        <%= submit_tag 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary btn-block', disabled: true %>
      </div>
    </div>
  </form>

</div> <!-- /container -->
<script>
  $(
    $('#pass2').keyup( function(){
        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();
        ico = $('#pass2icon');
        btn = $('input:submit');
        if (pass1 === pass2) {
            ico.removeClass().addClass('glyphicon form-control-feedback glyphicon-ok text-success');
            btn.prop('disabled', false)
        } else {
            ico.removeClass().addClass('glyphicon form-control-feedback glyphicon-remove text-danger');
            btn.prop('disabled', true)
        }
    })
  );
</script>