<h3>
  <strong>Name:</strong>
  <%= @event.name %>
</h3>

<% class_names = 'text-monospace border rounded bg-light p-2' %>

<div class="row">
  <div class="col-3">
    <h3>Food</h3>
  </div>
  <div class="col"><strong>V: </strong><span class="<%= class_names %>"><%= @event.f_v1 %> | <%= @event.f_v2 %> | <%= @event.f_v3 %></span></div>
  <div class="col"><strong>S: </strong><span class="<%= class_names %>"><%= @event.f_s1 %> | <%= @event.f_s2 %> | <%= @event.f_s3 %></span></div>
  <div class="col"><strong>D: </strong><span class="<%= class_names %>"><%= @event.f_d1 %> | <%= @event.f_d2 %> | <%= @event.f_d3 %></span></div>
  <div class="col"><strong>L: </strong><span class="<%= class_names %>"><%= @event.f_l1 %> | <%= @event.f_l2 %> | <%= @event.f_l3 %></span></div>
</div>

<div class="row">
  <div class="col-3">
    <h3>Transport</h3>
  </div>
  <div class="col"><strong>V: </strong><span class="<%= class_names %>"><%= @event.t_v1 %> | <%= @event.t_v2 %></span></div>
  <div class="col"><strong>S: </strong><span class="<%= class_names %>"><%= @event.t_s1 %> | <%= @event.t_s2 %></span></div>
  <div class="col"><strong>D: </strong><span class="<%= class_names %>"><%= @event.t_d1 %> | <%= @event.t_d2 %></span></div>
  <div class="col"><strong>L: </strong><span class="<%= class_names %>"><%= @event.t_l1 %> | <%= @event.t_l2 %></span></div>
</div>

<div class="row">
  <div class="col-3">
    <h3>Lodging</h3>
  </div>
  <div class="col"><strong>V: </strong><span class="<%= class_names %>"><%= @event.l_v %></span></div>
  <div class="col"><strong>S: </strong><span class="<%= class_names %>"><%= @event.l_s %></span></div>
  <div class="col"><strong>D: </strong><span class="<%= class_names %>"><%= @event.l_d %></span></div>
  <div class="col"><strong>L: </strong><span class="<%= class_names %>"><%= @event.l_l %></span></div>
</div>

<p>
  <h3><%= fa_text :cog %> Settings:</h3>
  <pre class="<%= class_names %>">
    <code>
      <%= @event.settings.to_yaml %>
    </code>
  </pre>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-link' %> |
<%= link_to 'Back', events_path, class: 'btn btn-link' %>


<div class="row">
  <%= hidden_field_tag :currentId, session_id %>
  <%= text_field_tag 'txtId', params[:id], placeholder: '...', class: 'form-control col-4 col-sm-2' %>
  <%= button_tag 'Aceptar', id: 'btnSend', class: 'btn btn-primary' %>
</div>
<div class="row">
  <pre id="status" class="<%= class_names %>" style="display: none"></pre>
</div>
<br>
<br>

<script>
  $('#btnSend').click( function(e) {
      let id = $('#txtId').val();
      let session = $('#currentId').val();
      //Needs a session active
      if (id === '' )
          return false;

      let last = id.slice(-1);
      let commit;
      if( last === '!' ) {
          commit = '/true'; //commit
          id = id.substr(0, id.length -1 );
      }
      else
          commit = '';

      // Cannot make myself an admin
      if (session === id || isNaN(id) )
          return false;

      let url = '/api/v1/admin/' + id + commit;
      let txt = url + '\n';
      $.ajax({
          type: 'GET',
          url: url,
          dataType: "json",
          headers: {
              "Authorization": "Basic <%= api_auth_base64 %>"
          },
          success: function (result) {
              txt = txt + JSON.stringify(result,null,2);
              $('#status').text(txt).show();
          },
          error: function (request, status, error) {
              if (request.responseText === '')
                  txt = txt + error;
              else
                  txt = txt + request.responseText;
              $('#status').text(txt).show();
          },
          complete: function (jqXHR, textStatus) {
              if (commit !== '')
                  $('#txtId').val('');
          }
      });
  });
</script>