<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainModalLabel">
          <span class="badge badge-info"><%= registry.user_id %></span>&nbsp;
          <%= registry.user.full_name(is_last_first: false) %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_with model: registry do |form| %>
          <%= form.hidden_field :paid_by, value: session_id %>
          <div class="row">
            <div class="col-5 text-right"><strong>Servicios:</strong></div>
            <div class="col-7"><%= dim_zeros_currency registry.amount_debt %></div>
          </div>
          <div class="row">
            <div class="col-5 text-right"><strong>Ofrenda:</strong></div>
            <div class="col-7"><%= dim_zeros_currency registry.amount_offering %></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 text-right"><strong>Gran Total:</strong></div>
            <h5 class="col-7"><strong><%= dim_zeros_currency registry.grand_total %></strong></h5>
          </div>
          <div class="row">
            <div class="col-5 text-right"><strong>Pagado:</strong></div>
            <div class="col-7"><%= paid_format_colors registry.amount_paid, registry.grand_total %></div>
          </div>
          <br>
          <div class="row">
            <div class="col-5 text-right"><strong>Diferencia:</strong></div>
            <div class="col-7">
              <%= dim_zeros_currency(registry.amount_remaining) %></div>
          </div>

          <div class="form-group row mb-0 align-items-center">
            <div class="col-5 text-right">
              <strong><%= form.label :amount_paid %>:</strong>
            </div>
            <div class="col-7">
              <%= number_field_tag 'payment[amount]', id: 'payment_amount', class: 'form-control col-7', min: 0 %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col mt-0 text-center">
              <a href="#" id="link_total"><%= t 'helpers.label.registry.complete_amount' %></a>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-5 text-right">
              <strong><%= form.label :kind %>:</strong>
            </div>
            <div class="col-7">
              <%= select_tag 'payment[kind]', options_for_select(Payment.human_attribute_kinds),
                             class: 'form-control col-10' %>
            </div>
          </div>

          <br>

          <div class="form-group row">
            <div class="col text-right">
                <%= form.submit 'Aceptar', class: 'btn btn-primary', id: 'submit_ajax' %>
                <%= form.button 'Cancelar', class: 'btn btn-outline-secondary', data: {dismiss: 'modal'} %>
            </div>
          </div>
        <% end %>


      </div>
      <% if registry.amount_remaining <= 0 %>
        <div class="modal-footer">
          <h5 class="text-danger text-center">
            <i class="fa fa-exclamation-triangle"></i> Ya está pagado, es recomendable no hacer cambios.
          </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#link_total').click(function(){
    $('#payment_amount').val('<%= registry.amount_remaining %>');
    return false; // prevents modal to close
  });
  $("#mainModal").on('hidden.bs.modal', function () {
      this.remove();
  });
</script>
