<%%= form_for(@<%= singular_table_name %>, html: {class:'form-horizontal', role:'form'}) do |f| %>
  <%# --------------------- FIELDS -----------------------------------------%>
<% attributes.each do |attribute| -%>
  <div class="form-group">
<% if attribute.password_digest? -%>
    <%%= f.label :password %><br>
    <%%= f.password_field :password %>
  </div>
  <div class="field">
    <%%= f.label :password_confirmation %><br>
    <%%= f.password_field :password_confirmation %>
<% else -%>
    <%%= f.label :<%= attribute.column_name %>, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control input-sm' %></div>
<% end -%>
  </div>
<% end -%>
  <%# --------------------- ERRORS -----------------------------------------%>
  <%% if @<%= singular_table_name %>.errors.any? %>
  <div class="alert alert-danger no-border">
    <h3><%%= pluralize(@<%= singular_table_name %>.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h3>

    <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
      <li><%%= message %></li>
      <%% end %>
    </ul>
  </div>
  <%% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <div id="actions">
        <%%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
        <%%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
      </div>
      <%%= image_tag image_path('spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
    </div>
  </div>
<%% end %>
