<div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
    <tr>
      <th rowspan="2"></th>
      <th colspan="1" class="text-center viernes">Viernes</th>
      <th colspan="3" class="text-center sabado">Sábado</th>
      <th colspan="3" class="text-center domingo">Domingo</th>
      <th colspan="1" class="text-center lunes">Lunes</th>
      <th rowspan="2" class="text-center">Total</th>
    </tr>
    <tr>
      <!--th></th-->
      <%# th class="text-center viernes">Des</th>
      <th class="text-center viernes">Com</th> %>
      <th class="text-center viernes"><span data-toggle="tooltip" data-placement="top" title="Cena">Cen</span></th>
      <th class="text-center sabado" ><span data-toggle="tooltip" data-placement="top" title="Desayuno">Des</span></th>
      <th class="text-center sabado" ><span data-toggle="tooltip" data-placement="top" title="Comida">Com</span></th>
      <th class="text-center sabado" ><span data-toggle="tooltip" data-placement="top" title="Cena">Cen</span></th>
      <th class="text-center domingo"><span data-toggle="tooltip" data-placement="top" title="Desayuno">Des</span></th>
      <th class="text-center domingo"><span data-toggle="tooltip" data-placement="top" title="Comida">Com</span></th>
      <th class="text-center domingo"><span data-toggle="tooltip" data-placement="top" title="Cena">Cen</span></th>
      <th class="text-center lunes"  ><span data-toggle="tooltip" data-placement="top" title="Desayuno">Des</span></th>
      <%# th class="text-center lunes">Com</th>
      <th class="text-center lunes">Cen</th%>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-xs-1 text-right"><strong>Adultos</strong></td>
      <%# <td class="text-right"><%= food.v1 ></td>
      <td class="text-right"><%= food.v2 ></td> %>
      <td class="text-right"><%= dimzeros food.v3 %></td>
      <td class="text-right"><%= dimzeros food.s1 %></td>
      <td class="text-right"><%= dimzeros food.s2 %></td>
      <td class="text-right"><%= dimzeros food.s3 %></td>
      <td class="text-right"><%= dimzeros food.d1 %></td>
      <td class="text-right"><%= dimzeros food.d2 %></td>
      <td class="text-right"><%= dimzeros food.d3 %></td>
      <td class="text-right"><%= dimzeros food.l1 %></td>
      <%#td class="text-right"><%= food.l2 ></td>
      <td class="text-right"><%= food.l3 ></td%>
      <td class="col-xs-1 text-right"><strong><%= food.total_adults %></strong></td>
    </tr>
    <tr> <%# --------------------------------------------_%>
      <td class="col-xs-1 text-right"><strong>Niños</strong></td>
      <%# td class="text-right"><%= food.v1c ></td>
      <td class="text-right"><%= food.v2c ></td %>
      <td class="text-right"><%= dimzeros food.v3c %></td>
      <td class="text-right"><%= dimzeros food.s1c %></td>
      <td class="text-right"><%= dimzeros food.s2c %></td>
      <td class="text-right"><%= dimzeros food.s3c %></td>
      <td class="text-right"><%= dimzeros food.d1c %></td>
      <td class="text-right"><%= dimzeros food.d2c %></td>
      <td class="text-right"><%= dimzeros food.d3c %></td>
      <td class="text-right"><%= dimzeros food.l1c %></td>
      <%# td class="text-right"><%= food.l2c ></td>
      <td class="text-right"><%= food.l3c ></td %>
      <td class="col-xs-1 text-right"><strong><%= food.total_children %></strong></td>
    </tr>
    </tbody>
  </table>
</div>
<% if food.nil? %>
    <em>No se encontró registro de comida</em>
<% end %>

<h5>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Cantidad Total:</strong></div>
    <div class="col-xs-6 col-sm-9 col-md-10"><%= food.total_meals %></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2 "><strong>Costo total:</strong></div>
    <div class="col-xs-6 col-sm-9 col-md-10"><%= number_to_currency food.total_cost %></div>
  </div>
</h5>