.table-responsive
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th{ rowspan: '2' }
        %th.text-center.viernes{ colspan: '3' } Viernes
        %th.text-center.sabado{ colspan: '3' } Sábado
        %th.text-center.domingo{ colspan: '3' } Domingo
        %th.text-center.lunes{ colspan: '3' } Lunes
      %tr
        %th.text-center.viernes Des
        %th.text-center.viernes Com
        %th.text-center.viernes Cen
        %th.text-center.sabado Des
        %th.text-center.sabado Com
        %th.text-center.sabado Cen
        %th.text-center.domingo Des
        %th.text-center.domingo Com
        %th.text-center.domingo Cen
        %th.text-center.lunes Des
        %th.text-center.lunes Com
        %th.text-center.lunes Cen
    %tbody
      -# Adultos ------------------------------------------------
      %tr.text-right
        %td.col-xs-1
          %strong Adultos
        %td= food.v1
        %td= food.v2
        %td= food.v3
        %td= food.s1
        %td= food.s2
        %td= food.s3
        %td= food.d1
        %td= food.d2
        %td= food.d3
        %td= food.l1
        %td= food.l2
        %td= food.l3
      -# Kids ------------------------------------------------
      %tr.text-right
        %td.col-xs-1
          %strong Niños
        %td= food.v1c
        %td= food.v2c
        %td= food.v3c
        %td= food.s1c
        %td= food.s2c
        %td= food.s3c
        %td= food.d1c
        %td= food.d2c
        %td= food.d3c
        %td= food.l1c
        %td= food.l2c
        %td= food.l3c
      -# Suma ------------------------------------------------
      %tr.text-right.bg-primary
        %td.col-xs-1
          %strong Suma
        %td= food.v1 + food.v1c
        %td= food.v2 + food.v2c
        %td= food.v3 + food.v3c
        %td= food.s1 + food.s1c
        %td= food.s2 + food.s2c
        %td= food.s3 + food.s3c
        %td= food.d1 + food.d1c
        %td= food.d2 + food.d2c
        %td= food.d3 + food.d3c
        %td= food.l1 + food.l1c
        %td= food.l2 + food.l2c
        %td= food.l3 + food.l3c
      -# Total ------------------------------------------------
      - if defined? food_money
        %tr.text-right.bg-primary
          %td.col-xs-1
            %strong Total
          %td= number_to_currency food_money.v1 + food_money.v1c, precision: 0
          %td= number_to_currency food_money.v2 + food_money.v2c, precision: 0
          %td= number_to_currency food_money.v3 + food_money.v3c, precision: 0
          %td= number_to_currency food_money.s1 + food_money.s1c, precision: 0
          %td= number_to_currency food_money.s2 + food_money.s2c, precision: 0
          %td= number_to_currency food_money.s3 + food_money.s3c, precision: 0
          %td= number_to_currency food_money.d1 + food_money.d1c, precision: 0
          %td= number_to_currency food_money.d2 + food_money.d2c, precision: 0
          %td= number_to_currency food_money.d3 + food_money.d3c, precision: 0
          %td= number_to_currency food_money.l1 + food_money.l1c, precision: 0
          %td= number_to_currency food_money.l2 + food_money.l2c, precision: 0
          %td= number_to_currency food_money.l3 + food_money.l3c, precision: 0
      -# grandtotal -------------------------------------------
      - if defined? food_total
        %tr
          %td.col-xs-1.text-right
            %strong Gran T.
          %td.text-center{ colspan: '12' }
            %strong= number_to_currency food_total, presicion: 0
