<%= form_for(@food, html: {class:'form-horizontal', role:'form'}) do |f| %>

    <div class="well text-justify">
      <strong>¡El Cupo es Limitado!</strong>
      <p>Este servicio es opcional, sin embargo se recomienda usarlo para poder convivir
      con los hermanos durante este tiempo.</p>
      <p>Indica el número total de comidas que estarán comiendo en el campamento
      (incluye en éste número el total de comidas entre tu y tus invitados).</p>

      <p>Los costos de las comidas son:
          <ul>
            <li>Adultos (de <%= Rails.application.config.reg_adult_age %> años en adelante): <%= number_to_currency Rails.application.config.reg_food_full_price %> pesos (MX) por comida.</li>
            <li>Niños (de 5-10 años): <%= number_to_currency Rails.application.config.reg_food_half_price %> pesos por comida.</li>
            <li>Infantes (de 0-4 años): gratis.</li>
          </ul>
      </p>
    </div>

    <% food_class_label         = 'control-label col-xs-3 col-sm-2 text-right'
       headers_offsetclass_div  = 'col-xs-offset-3 col-sm-offset-2 '
       common_class_input       = 'col-xs-3 col-sm-2 col-md-2' %>
    <div class="viernes-text"><h4>Viernes</h4> <%#--   VIERNES ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Adultos</div>
        <div class="<%= common_class_input %>">Niños</div>
      </div>
      <%# div class="row">
        <%= f.label :v1, class: food_class_label >
        <div class="<common_class_input>"><%= f.number_field :v1, min: 0, class: 'form-control input-sm' ></div>
        <div class="<common_class_input>"><%= f.number_field :v1c, min: 0, class: 'form-control input-sm' ></div>
      </div>
      <div class="row">
        <%= f.label :v2, class: food_class_label >
        <div class="<common_class_input>"><%= f.number_field :v2, min: 0, class: 'form-control input-sm' ></div>
        <div class="<common_class_input>"><%= f.number_field :v2c, min: 0, class: 'form-control input-sm' ></div>
      </div %>
      <div class="row">
        <%= f.label :v3, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :v3, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :v3c, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="sabado-text"><h4>Sábado</h4><%#--   SABADO ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Adultos</div>
        <div class="<%= common_class_input %>">Niños</div>
      </div>
      <div class="row">
        <%= f.label :s1, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :s1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :s1c, min: 0, class: 'form-control input-sm' %></div>
      </div>
      <div class="row">
        <%= f.label :s2, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :s2, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :s2c, min: 0, class: 'form-control input-sm' %></div>
      </div>
      <div class="row">
        <%= f.label :s3, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :s3, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :s3c, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="domingo-text"><h4>Domingo</h4> <%#--   DOMINGO ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Adultos</div>
        <div class="<%= common_class_input %>">Niños</div>
      </div>
      <div class="row">
        <%= f.label :d1, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :d1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :d1c, min: 0, class: 'form-control input-sm' %></div>
      </div>
      <div class="row">
        <%= f.label :d2, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :d2, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :d2c, min: 0, class: 'form-control input-sm' %></div>
      </div>
      <div class="row">
        <%= f.label :d3, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :d3, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :d3c, min: 0, class: 'form-control input-sm' %></div>
      </div>
    </div><div class="lunes-text"><h4>Lunes</h4>  <%#--   LUNES ---------------------------%>
      <div class="row">
        <div class="<%= headers_offsetclass_div + common_class_input %>">Adultos</div>
        <div class="<%= common_class_input %>">Niños</div>
      </div>
      <div class="row">
        <%= f.label :l1, class: food_class_label %>
        <div class="<%= common_class_input %>"><%= f.number_field :l1, min: 0, class: 'form-control input-sm' %></div>
        <div class="<%= common_class_input %>"><%= f.number_field :l1c, min: 0, class: 'form-control input-sm' %></div>
      </div>
      <%# div class="row">
        <%= f.label :l2, class: food_class_label >
        <div class="<common_class_input>"><%= f.number_field :l2, min: 0, class: 'form-control input-sm' ></div>
        <div class="<common_class_input>"><%= f.number_field :l2c, min: 0, class: 'form-control input-sm' ></div>
      </div>
      <div class="row">
        <%= f.label :l3, class: food_class_label >
        <div class="<common_class_input>"><%= f.number_field :l3, min: 0, class: 'form-control input-sm' ></div>
        <div class="<common_class_input>"><%= f.number_field :l3c, min: 0, class: 'form-control input-sm' ></div>
      </div %>
    </div><br>

  <% if @food.errors.any? %>
    <div class="alert alert-danger fade in no-border">
      <h2><%= pluralize(@food.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="col-xs-offset-2 col-md-offset-2 col-xs-6">
        <div id="actions">
          <%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
          <%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
        </div>
        <%= image_tag image_path('spinners/spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
      </div>
    </div>
<% end %>
