%h2 Countries
.row
  .col-sm-10
  .col-sm-2
    %a.btn.btn-xs.btn-primary{ 'aria-label': 'Left Align', href: "#{url_for new_country_path}"}
      %i.fa.fa-plus{ 'aria-hidden': 'true' }
      Nuevo

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= label :country, :name
      %th= label :country, :iso
      %th
  %tbody
    - @countries.each do |country|
      %tr
        %td= country.name
        %td= country.iso
        %td.btn-group
          %a.btn.btn-default.btn-xs{ href: "#{ url_for country }" }
            %i.fa.fa-eye{ 'aria-hidden': 'true' }
            Mostrar
          %a.btn.btn-default.btn-xs{ href: "#{ url_for edit_country_path(country) }" }
            %i.fa.fa-pencil{ 'aria-hidden': 'true' }
            Editar
          %a.btn.btn-danger.btn-xs{ href: "#{ url_for country  }", 'data-method': 'delete', 'data-confirm': '¿Estás seguro?' }
            %i.fa.fa-times{ 'aria-hidden': 'true' }
            Borrar

- if @countries.size == 0
  %em No se encontraron registros

%br/