%h2 Novedades
.row
  .col-sm-10
  .col-sm-2
    %a.btn.btn-xs.btn-primary{ 'aria-label': 'Left Align', href: "#{ url_for new_post_path }" }
      %i.fa.fa-plus{ 'aria-hidden': 'true' }
      Nuevo

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= label :post, :author
      %th= label :post, :title
      %th= label :post, :content
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.author
        %td= post.title
        %td= post.content
        %td
          .btn-group
            %a.btn.btn-default.btn-xs{ href: "#{ url_for post }" }
              %i.fa.fa-eye{ 'aria-hidden': 'true' }
              Mostrar
            %a.btn.btn-default.btn-xs{ href: "#{ url_for edit_post_path(post) }" }
              %i.fa.fa-pencil{ 'aria-hidden': 'true' }
              Editar
            %a.btn.btn-danger.btn-xs{ href: "#{ url_for post  }", 'data-method': 'delete', 'data-confirm': '¿Estás seguro?' }
              %i.fa.fa-times{ 'aria-hidden': 'true' }
              Borrar

- if @posts.size == 0
  %em No se encontraron registros

%br/
