<%= form_for(@hotel, html: {class:'form-horizontal', role:'form'}) do |f| %>
    <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :name, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :address, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :phone, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :email, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :cost, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_area :cost, class: 'form-control input-sm', cols: '30', rows: '5' %>
      <p>Puedes usar Markdown, pero para una nueva linea usa '&lt;br&gt;'</p></div>
  </div>
  <div class="form-group">
    <%= f.label :url, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :url, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :gmaps, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_field :gmaps, class: 'form-control input-sm' %></div>
  </div>
  <div class="form-group">
    <%= f.label :comments, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.text_area :comments, class: 'form-control input-sm', cols: '30', rows: '5' %>
      <p>Puedes usar Markdown, pero para una nueva linea usa '&lt;br&gt;'</p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :has_discount, class: 'control-label col-sm-2' %>
    <div class='col-sm-6'><%= f.check_box :has_discount, class: 'form-control input-sm' %></div>
  </div>
    <% if @hotel.errors.any? %>
  <div class="alert alert-danger no-border">
    <h3><%= pluralize(@hotel.errors.count, 'error impidió', 'errores impidieron') %> que se guardara el registro:</h3>

    <ul>
      <% @hotel.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <div id="actions">
        <%= f.submit 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary', id: 'submit_ajax' %>
        <%= link_to 'Cancelar', get_start, { class: 'btn btn-sm btn-link' }  %>
      </div>
      <%= image_tag image_path('spinners/spinner.gif'), id: 'spinner', style: 'display:none', alt: 'Waiting...' %>
    </div>
  </div>
<% end %>
