<div class="media">
  <div class="media-left hidden-xs">
    <% if hotel.gmaps.to_s != '' %>
        <iframe width="300" height="300" frameborder="0" style="border:0" class=""
                src="https://www.google.com/maps/embed/v1/place?q=<%= hotel.gmaps %>&key=<%= Rails.application.secrets.google_key %>">
        </iframe>
    <% end %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= hotel.name %>
      <% unless hotel.has_discount? %><span class="text-danger"> (Sin convenio)</span><% end %>
    </h3>
    <%= hotel.address %><br><br>
    <div>
      <%= link_to '<span class="glyphicon glyphicon-earphone"></span> '.html_safe + number_to_phone(hotel.phone, area_code: true),
                  'tel:' + hotel.phone,
                  class: 'btn btn-default btn-xs' %>
      <%= mail_to(hotel.email,
                  '<span class="glyphicon glyphicon-envelope"></span> Email'.html_safe,
                  class: 'btn btn-default btn-xs') if hotel.email != '' %>
      <%= link_to('<span class="glyphicon glyphicon-link"></span> Página Web'.html_safe,
                  hotel.url,
                  class: 'btn btn-default btn-xs',
                  target: '_blank') if hotel.url != ''  %>
      <%= link_to('<span class="glyphicon glyphicon-globe"></span> Mapa'.html_safe,
                  "https://www.google.com/maps/place/#{hotel.gmaps.gsub '%20', '+'}",
                  class: 'btn btn-default btn-xs',
                  target: '_blank') if hotel.url != ''  %>
      <br>
      <br>
      <dl class="">
        <dt>Tarifa:</dt>
        <dd><%= simple_format hotel.cost %></dd>
      </dl>
      <dl class="">
        <dt>Adicionales:</dt>
        <dd><%= simple_format hotel.comments %></dd>
      </dl>
    </div>
  </div>
</div>