%h2 Hoteles
.row
  .col-sm-10
  .col-sm-2
    %a.btn.btn-xs.btn-primary{ 'aria-label': 'Left Align', href: "#{ url_for new_hotel_path }" }
      %i.fa.fa-plus{ 'aria-hidden': 'true' }
      Nuevo

.table-responsive
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th= label :hotel, :name
        %th= label :hotel, :phone
        %th= label :hotel, :email
        %th= label :hotel, :url
        %th= label :hotel, :has_discount
        %th= label :hotel, :gmaps
        %th
    %tbody
      - @hotels.each do |hotel|
        %tr
          %td= hotel.name
          %td= hotel.phone
          %td= render_bool hotel.email != ''
          %td= render_bool hotel.url != ''
          %td= render_bool hotel.has_discount
          %td= render_bool hotel.gmaps != ''
          %td
            .btn-group
              %a.btn.btn-default.btn-xs{ href: "#{ url_for hotel }" }
                %i.fa.fa-eye{ 'aria-hidden': 'true' }
                Mostrar
              %a.btn.btn-default.btn-xs{ href: "#{ url_for edit_hotel_path(hotel) }" }
                %i.fa.fa-pencil{ 'aria-hidden': 'true' }
                Editar
              %a.btn.btn-danger.btn-xs{ href: "#{ url_for hotel  }", 'data-method': 'delete', 'data-confirm': '¿Estás seguro?' }
                %i.fa.fa-times{ 'aria-hidden': 'true' }
                Borrar

  - if @hotels.size == 0
    %em No se encontraron registros

%br