<title><%= meta_title %></title>

<meta name="description" content="<%= meta_description %>">
<meta name="author" content="<%= Rails.configuration.author %>">

<meta name="apple-mobile-web-app-title" content="Registro">
<meta name="application-name" content="Registro">

<%#-- PWA Manifest --%>
<link rel="manifest" href="/site.webmanifest">

<%#-- Twitter Card data --%>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<%= Rails.configuration.twitter_id %>" />
<meta name="twitter:title" content="<%= meta_title %>" />
<meta name="twitter:description" content="<%= meta_description %>" />
<meta name="twitter:creator" content="<%= Rails.configuration.twitter_id %>" />
<%# Twitter Summary card images must be at least 200x200px %>
<meta name="twitter:image" content="<%= 'icon_wide.jpg' %>"/>

<%#-- Open Graph data - Facebook --
 https://developers.facebook.com/tools/debug/og/object?q=registro.cristianismobiblico.com
 recomm  1200 x 630px
 minimum  600 x 315
 Ratio: 1.91:1 %>
<meta property="fb:app_id" content="<%= Rails.configuration.facebook_id %>" />
<meta property="og:locale" content="<%= I18n.locale %>" />
<meta property="og:title" content="<%= meta_title %>" />
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= Rails.configuration.site_url %>"/>
<meta property="og:image" content="<%= 'icon_wide.jpg' %>"/>
<meta property="og:image:height" content="270">
<meta property="og:image:width" content="558">
<meta property="og:description" content="<%= meta_description %>" />
<meta property="og:site_name" content="<%= meta_title %>"/>

<%#-- Favicon --%>
<%#
Check: https://realfavicongenerator.net
Generate: http://faviconit.com/en
%>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
