<nav class="navbar navbar-expand-sm navbar-dark bg-primary app-navbar-bottom-shadow">
  <%# div class="container"></div %>
  <a class="navbar-brand" href="<%= Rails.configuration.author_home %>">
      <%# image_tag 'nav_logo_w.png', alt: 'Logo', style: 'width: 150px' %>
      <img src="https://via.placeholder.com/232x60/2C3E50/FFFFFF.png?text=Logo" alt="Logo">
  </a>
  <%#-- Toggler/collapsibe Button --%>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
          aria-controls="collapsibleNavbar" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%#-- Navbar links --%>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <%# *** Nav Links LEFT *** %>
    <ul class="navbar-nav me-auto">
      <%= nav_li_link fa_text(:home, t('nav.home')), root_path %>
      <% if session_active? %>
        <%= nav_li_link fa_text(:user_circle, t('nav.mydata')), start_path %>
        <% if admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_text :wrench, 'Admin.' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= nav_dropdown_link fa_text(:users, 'Registros'), registries_path %>
              <%= nav_dropdown_link fa_text(:dollar_sign, 'Pagos'), payments_users_path %>
              <%= nav_dropdown_link fa_text(:bed, 'Hospedaje'), list_lodging_registries_path %>
              <%= nav_dropdown_link fa_text(:bus, 'Transporte'), list_transport_registries_path %>
              <%= nav_dropdown_link fa_text(:list, 'Totales'), totals_registries_path %>
              <%= nav_dropdown_link fa_text(:utensils, 'Totales Comidas'), totals_food_registries_path %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Sistema</h6>
              <%= nav_dropdown_link fa_text(:terminal, 'Cliente API'), apiui_index_path %>
              <%= nav_dropdown_link fa_text(:cog, 'Evento'), Event.current %>
            </div>
          </li>
        <% end%>
      <% end %>

    </ul>
    <%# *** Nav Links RIGHT *** %>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if session_active? %>
        <%= nav_li_link fa_text(:sign_out_alt, t('nav.logout')), logout_path %>
      <% else %>
        <%= nav_li_link fa_text(:sign_in_alt, t('nav.login')), login_path %>
      <% end %>
    </ul>
  </div>
</nav>
