<!DOCTYPE html>
<%
  event_name = Rails.application.config.reg_event_name
  author = Rails.application.config.reg_site_author
%>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : event_name %> - <%= author %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=  yield :top if content_for? :top %>
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <br>
  <footer style="margin-top: 15px;">
    <div></div>
  </footer>
</body>
</html>