<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render 'layouts/meta' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <%# Bootstrap 4 is on package.json %>
  <%# FontAwesome 5 %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div id="modal-holder"></div>
  <div id="wrap"> <%# Footer_bottom wrapper %>
    <%#--- Header ------------------------------------------------------------------------------------------------%>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/dev_ribbon' unless Rails.env.production? %>
    </header>

    <%=  yield :top if content_for?(:top) %>

    <%# --- Main ------------------------------------------------------------------------------------------------ %>
    <main role="main" style="margin-top: 16px;">
      <div class="container mw-85">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
    <div id="push"></div>
  </div>

  <%#--- Footer ------------------------------------------------------------------------------------------------- %>
  <footer class="footer divider-inside-top">
    <div class="container">
      <p class="text-muted text-center">
        <%= fa_text :copyright %> <%= Rails.configuration.app[:author] %> 2015-2019
      </p>
    </div>
  </footer>
</body>

</html>
